version: '2.2'
services:
  postgres:
    image: postgres
    env_file:
      - .env
      - .env.development
    ports:
      - "5432"
    volumes:
      - 'postgres:/var/lib/postgresql/data'

  solr:
    image: "${REGISTRY_HOST}${REGISTRY_URI}/solr:latest"
    build: solr/
    ports:
      - '8983:8983'
    environment:
      - SOLR_HEAP=4g
    volumes:
      - solr:/solr_home

  base:
    image: "${REGISTRY_HOST}${REGISTRY_URI}/base:latest"
    build:
      context: .
      dockerfile: Dockerfile.base
      args:
        DEPLOY_KEY: "${DEPLOY_KEY}"
    env_file:
     - .env.development
     - .env
 
  main:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BRANCH=${BRANCH:-master}
    image: "${REGISTRY_HOST}${REGISTRY_URI}:${TAG}"
    env_file:
      - .env.development
      - .env
    volumes:
      - .:/home/app/webapp

  web:
    extends: main
    # Keep the stdin open, so we can attach to our app container's process
    # and do things such as byebug, etc:
    stdin_open: true
    # Enable sending signals (CTRL+C, CTRL+P + CTRL+Q) into the container:
    tty: true
    ports:
      - "${DOCKER_PORTS}"
      - "8000:80"
    environment:
      - VIRTUAL_HOST=oralhistory.docker
      - VIRTUAL_PORT=80
    depends_on:
      - postgres
      - solr
      - worker

  worker:
    extends: main
    command: bin/delayed_job run
    depends_on:
      - postgres
      - solr

volumes:
  postgres:
  solr:
