version: '2.1'
services:
  postgres:
    image: postgres
    env_file:
      - .env
    ports:
      - "5432"

  solr:
    image: solr:latest
    env_file:
      - .env
    ports:
      - "8983"
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - mycore
    # docker-compose exec --user=solr solr bin/solr create_core -c CORENAME
  web:
    image: "${REGISTRY_HOST}${REGISTRY_URI}:${TAG:-master}"
    env_file:
      - .env
      rap.host: ${SITE_URI}
      rap.le_host: ${SITE_URI}
      rap.le_test: true
      io.rancher.container.pull_image: always
    ports:
      - "80"
    depends_on:
      - postgres
      - solr
