
<div class="row show-for-ie">
  <div class="col-md-12">
    <!-- Warning Alert -->
    <div class="alert alert-info ie-alert show" role="alert">
      
      <h4 class="h5">
        <i class="fa fa-exclamation-triangle"></i>
        Warning!
      </h4>
      This site is not optimized for Internet Explorer. Audio players and some other items will not function.
    </div>
    <!-- End Warning Alert -->
  </div>
</div>
