<!-- Hero Block -->
<div class="container-fluid">
  <section class="g-pos-rel hero-image-block g-pb-20 g-mb-20">
    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-bluegray-opacity-0_2--after" ></div>
      <%= render partial: '/hero_nav'%>
    </div>
  </section>
</div>
<!-- End Hero Block -->