<%= render partial: '/shared/sub_header' %>
<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">
			About Us &amp; Our Collections
    </h2>
  </div>

  <div class="g-px-60--md g-mb-40 g-mt-40 g-ml-40 list-group">
    <a class="list-group-item list-group-item-action" href="#about">About ARCE</a>
    <a class="list-group-item list-group-item-action" href="#archives">The Conservation Archives</a>
    <a class="list-group-item list-group-item-action" href="#updates">Updates</a>
    <a class="list-group-item list-group-item-action" href="#contact">Contact Us</a>
    <a class="list-group-item list-group-item-action" href="#collections">Our Collections</a>
  </div>

	<h3 class="u-heading-v2__title g-mb-10" id="about">
		About ARCE
	</h3>

  <p class="g-px-60--md g-mb-20 g-mt-40">
		Founded in 1948, the American Research Center in Egypt (ARCE) is a private, nonprofit
		organization composed of educational and cultural institutions, professional scholars, and private
		individuals. ARCE's mission is to support research on all aspects of Egyptian history and culture,
		foster a broader knowledge about Egypt among the general public, and strengthen AmericanEgyptian cultural ties. Over the past 72 years, ARCE has served as a powerful force for
		conservation, education, and historical research within Egypt.
	</p>
	<p class="g-px-60--md g-mb-40 g-mt-20">
		ARCE’s archival and library collections cover 7,000 years of Egyptian history, including
		prehistoric, Pharaonic, Coptic, Islamic, and more contemporary materials. ARCE’s Archives
		include institutional records recording the activities of ARCE throughout the years, as well as
		documentation of projects facilitated by ARCE to protect cultural sites in Egypt. ARCE’s
		conservation efforts are housed within the ARCE Conservation Archives at the organization’s
		Cairo Center, which serves as a resource for researchers interested in the dynamics of preserving
		Egyptian cultural heritage. The Cairo Center also contains the
		<a href="https://www.arce.org/library" alt="Marilyn M. and William Kelly Simpson Library">
			Marilyn M. and William Kelly Simpson Library
		</a>
		, which boasts more than forty thousand volumes in multiple languages (and is now searchable
		through the <a href="http://library.arce.org/" alt="Library Online Catalog">online catalogue</a>).
  </p>

	<h3 class="u-heading-v2__title g-mb-10" id="archives">
		The Conservation Archives
	</h3>

	<p class="g-px-60--md g-mb-20 g-mt-40">
		Beginning in the early 1990s with support from the United States Agency for International
		Development (USAID), ARCE engaged in vital conservation work at monuments and sites
		throughout Egypt, leading to a unique collection of material documenting conservation projects
		that constitute the ARCE Conservation Archives. In total, the Conservation Archives includes 79
		collections, each documenting a different project conducted in Egypt.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		The Conservation Archives covers a wide range of Egyptian history spanning over 7,000 years.
		Geographically and historically diverse, the projects include Pharaonic, Coptic, Islamic, and
		other Egyptian cultural heritage sites of significance. Some examples include Theban tombs
		TT50, TT69, and TT110, the Roman Wall Paintings at Luxor Temple, The Red Monastery, and
		the Bab Zuwayla monument in Historic Cairo. Project work includes conservation and
		archaeological field training, structural preservation, wall paintings conservation, and historical
		and archaeological documentation.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		Each collection contains photographic and written material including 35mm and 120mm color
		and black & white slides, born-digital images, technical reports, and various grant-related
		documentation, in addition to a select number of project artifacts and architectural drawings.
		There are around 70,000 photographic slides, 200,000 images, 1,200 documents, 1,000 drawings,
		as well as a small selection of artifacts and multimedia content.
	</p>
	<p class="g-px-60--md g-mb-40 g-mt-20">
	 	In 2015, ARCE began a partnership with the University of California, Los Angeles (UCLA) to
		digitize, describe, and publish content from the Conservation Archives. During the first phase of
		this partnership, ARCE and UCLA worked together to publish two archival collections in
		UCLA’s
	 	<a href="https://idep.library.ucla.edu/" alt="International Digital Ephemera Project">
			International Digital Ephemera Project
		</a>
		 (IDEP): the Luxor Roman Wall Paintings and the Tomb of Anen collections. In 2019, ARCE was awarded an
		<a href="https://www.neh.gov/" alt="National Endowment for the Humanities">
			National Endowment for the Humanities
		</a>
		 (NEH) Foundations Grant for Humanities Collections and Reference Resources to
		publish an additional three collections and build a new ARCE web portal to showcase these
		collections.
	</p>

	<h3 class="u-heading-v2__title g-mb-10" id="updates">
		Updates
	</h3>

	<p class="g-px-60--md g-mb-40 g-mt-40">
		The ARCE Archives website launched in Fall 2020 with five collections from the Conservation
		Archives. The online archives includes the two projects previously published on the IDEP site,
		the Conservation of the Tomb of Anen in the Theban Necropolis, and the Conservation of the
		Roman Wall Paintings in Luxor Temple, and three additional projects: the Conservation of
		Aslam al-Silahdar mosque in Historic Cairo, the Architectural Conservation at the Red
		Monastery in Sohag, Egypt, and the Preservation of the Funerary Enclosure of King
		Khasekhemwy (Shunet el-Zebib) in Abydos. ARCE is currently seeking out additional funding
		to digitize and publish the remainder of the collections in the Conservation Archives.
	</p>

	<h3 class="u-heading-v2__title g-mb-10" id="contact">
		Contact Us
	</h3>

	<p class="g-px-60--md g-mb-20 g-mt-40">
		The Conservation Archives is housed in the ARCE Cairo Center within our Archives room. In
		addition to the records available through the Archives website, all materials in the physical
		archives are freely accessible in-person through an appointment or through consultation with the
		Archives staff. Scheduling an appointment with the Archives staff is the best way to plan a visit.
		To schedule an appointment, email
		<a href="mailto:archives@arce.org" alt="archives@arce.org">archives@arce.org</a>.
		All materials in the Conservation
		Archives are available for free, and ARCE membership status does not impact a researcher’s
		access to material.
	</p>
	<p class="g-px-60--md g-mb-40 g-mt-20">
		The Archives is open during working hours, 8:30AM – 4:30PM on Sunday through Thursday.
		The Archives is closed for weekends (Fridays and Saturdays) as well as all official American and
		Egyptian holidays. Ramadan may also affect working hours.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		<a href="https://www.arce.org/" alt="American Research Center in Egypt">American Research Center in Egypt (Cairo Office)</a>
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		2 Midan Símon Bolívar (Qasr al-Dubara)
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		Garden City
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		Cairo, Egypt 11461
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		Email: <a href="mailto:archives@arce.org" alt="archives@arce.org">archives@arce.org</a>
	</p>
	<p class="g-px-60--md g-mb-40 g-mt-20">
		Phone: +20 2 2794-8239
	</p>

	<h3 class="u-heading-v2__title g-mb-10" id="collections">
		Collections
	</h3>

	<h4 class="u-heading-v2__title g-mb-10 g-mt-20">
		Conservation of the Tomb of Anen in the Theban Necropolis
	</h4>

	<p class="g-px-60--md g-mb-10 g-mt-20">
		Project Director: Lyla Pinch-Brock
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Historic Era: New Kingdom
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Project Location: Luxor
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		October 2002 – January 2003
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-10">
		Located on necropolis of the West Bank of Luxor, the tomb of Anen belonged to an ancient
		Egyptian priest who served under the reign of Amenhotep III. Over time, the tomb had deteriorated
		and the roof caved in, filling the tomb with rubble and subjecting the wall paintings to light, heat,
		and water damage, as well as looters. This project, sponsored by the Royal Ontario Museum, was
		to conserve and protect the tomb of Anen (TT120), as well as the paintings inside.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		In addition to stabilizing and reinforcing the walls of the tomb, the conservators mechanically
		cleaned the reliefs with brushes and scalpels and repaired the mission sections through re-adhered
		fragments with special mortar. Paintings that had been damaged or removed were restored,
		mimicking an ancient painting technique where craftsmen sketched the relief images in red ink
		before filling them with color. The team also constructed a protective display box over the restored
		wall reliefs to protect them from human or environmental damage and built a series of low slanted
		walls along the top edges of the tomb to divert rainwater.<br />
		Read more about the
		<a href="https://www.arce.org/project/conservation-tomb-anen" alt="conservation of Tomb of Anen">
			conservation of the Tomb of Anen
		</a>.
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Statement of Responsibility:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		The American Research Center in Egypt (ARCE) managed the implementation of the
		conservation of the tomb of Anen in the Theban Necropolis in cooperation with the Egyptian
		Ministry of Tourism and Antiquities (formerly the Egyptian Supreme Council of Antiquities).
		Lyla Pinch-Brock, co-director of the Royal Ontario Theban Tombs Project based in Toronto,
		Canada, served as director of the project, aided by conservator Ewa Paradonwska and architect
		Nicholas Warner. Photographs were taken by Edwin C. Brock and Francis Dzikowski.
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Funding:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		Conservation of the monument was funded through the American Research Center in Egypt's
		Egyptian Antiquities Project (ARCE-EAP) under United States Agency for International
		Development (USAID) Grant No. 263-G-00-93-00089-00 (formerly 263-0000-G-00-308900).
	</p>

	<h4 class="u-heading-v2__title g-mb-10 g-mt-60">
		Conservation of the Roman Wall Paintings in Luxor Temple
	</h4>

	<p class="g-px-60--md g-mb-10 g-mt-20">
		Project Director: Michael Jones
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Historic Era: Roman Period
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Project Location: Luxor
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		October 2005 – December 2008
	</p>

	<p class="g-px-60--md g-mb-5 g-mt-10">
		Luxor Temple was one of the most important political and religious sites during Egypt’s Pharaonic
		period. During the Roman era, parts of the temple were converted into cult chapels and churches.
		This project was initiated to clean and conserve valuable Roman wall paintings at the Luxor
		Temple. The paintings adorn the late 3rd century AD Roman legionary shrine, from the reign of
		Diocletian, within the Luxor Temple. The murals were painted in fresco on lime plaster by a group
		of exceptionally skilled artists who were probably attached to Diocletian's imperial court.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		Project Director Michael Jones and conservators Luigi De Cesaris and Alberto Sucato worked in
		collaboration with Chicago House and the Luxor office of the Ministry of Antiquities.
		Conservation work on the Roman wall paintings was carried out for three full seasons. The project
		highlighted and addressed two important issues: the tragic loss of much of the historicallyimportant Roman paintings since John Gardner Wilkinson documented them in the mid-19th
		century; and the dilemma of how to preserve the paintings in the future after the cleaning and
		conservation with an intrusive shelter without compromising the temple.
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Statement of Responsibility:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		Amenhotep III was responsible for constructing the greater part of the present Luxor Temple
		around 1400 BC. Under Diocletian, Emperor of Rome, 245-313 AD, the first Tetrarchy
		transformed the temple site, including one of the temple’s offering halls into what is now known
		as the imperial cult chamber. In the 2000s, the American Research Center in Egypt (ARCE), with
		the support of the Egyptian Ministry of Tourism and Antiquities (formerly the Egyptian Supreme
		Council of Antiquities), conducted several site visits to Luxor to extensively document the grounds
		and undertake conversation efforts for the Roman frescoes present in that chamber.
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Funding:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		Conservation of the monument was funded through the American Research Center in Egypt's
		Egyptian Antiquities Conservation Project (ARCE-EAC) United States Agency for International
		Development (USAID) Agreement No. 263-A-00-04-00018-00.
	</p>

	<h4 class="u-heading-v2__title g-mb-10 g-mt-60">
		Conservation of the Mosque of Aslam al-Silahdar in Darb al-Ahmar, Cairo
	</h4>

	<p class="g-px-60--md g-mb-10 g-mt-20">
		Project Director: Aga Khan Trust for Culture & Christophe Bouleau
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Historic Era: Islamic Period (Mamluk)
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Project location: Cairo Governorate
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		June 2005 – March 2009
	</p>

	<p class="g-px-60--md g-mb-5 g-mt-10">
		The mosque of Aslam al-Silahdar was built in 1344 by a Mamluk prince and features jewel-toned
		inlaid marble and glittering glass mosaics. The American Research Center in Egypt (ARCE) and
		the Aga Khan Trust for Culture (AKTC) carried out the comprehensive conservation of the
		monument directed by Christophe Bouleau. ARCE and skilled laborers from the surrounding
		neighborhood worked on the structural and aesthetic conservation of the mosque.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		Repairs first began on the exterior of the mosque and the interior was used as a workspace to clean
		and conserve smaller movable components like doors, wooden paneling, metal grilles, and
		windows. A geotechnical survey assessed the mosque’s structural stability and cleaning and
		documentation work began on the exterior façades, roof, dome, and minaret. A new ablution was
		also constructed to replace the original one, which had posed a conservation risk to the mosque
		due to water leakage.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		The team removed and replaced decayed stones and cleaned the minaret and dome with micro
		sandblasting. They replaced the wooden roofing and then carefully insulated against the weather
		and moisture. Inside the mosque, the project plastered and repainted walls, installed new windows,
		and conserved and reinstalled original inlaid doors and wooden paneling. Cracks in the walls were
		consolidated and new brickwork fitted where necessary to reinforce the walls and fill gaps. Finally,
		conservators cleaned and fully restored all of the mosque’s stunning gypsum and stucco
		decorations to their original vibrancy.<br />
		<a href="https://www.arce.org/project/conservation-aslam-al-silahdar-mosque" alt="conservation of Aslam al-Silahdar">
			Read more about the conservation of Aslam al-Silahdar.
		</a>
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Statement of Responsibility:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		The conservation of the Aslam al-Silahdar mosque was managed and implemented by the Aga
		Khan Trust for Culture (AKTC) with the support of the American Research Center in Egypt
		(ARCE) and the Egyptian Ministry of Tourism and Antiquities (formerly the Egyptian Supreme
		Council of Antiquities).
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Funding:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		Conservation of the monument was funded through the American Research Center in Egypt's
		Egyptian Antiquities Conservation Project (ARCE-EAC) under United States Agency for
		International Development (USAID) Agreement No. 263-A-00-04-00018-00, the Aga Khan
		Trust for Culture (AKTC), and the U.S. Ambassador's Fund for Cultural Preservation.
	</p>

	<h4 class="u-heading-v2__title g-mb-10 g-mt-60">
		Red Monastery Architectural Conservation
	</h4>

	<p class="g-px-60--md g-mb-10 g-mt-20">
		Project Director: Nicholas Warner
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Historic Era: Byzantine
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Project Location: Sohag Governorate
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		January 2015 – December 2018
	</p>

	<p class="g-px-60--md g-mb-5 g-mt-10">
		The Red Monastery Church conservation project is one of ARCE’s longest and most successful
		endeavors in preservation. Architectural conservation and site presentation work was carried out
		at the Red Monastery Church under the supervision of Michael Jones and Nicholas Warner. The work
		was executed by Nicholas Warner with his team of local, skilled craftsmen.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		Among the tasks completed were: installation of new limestone paving and a new electrical
		network with LED lighting throughout the church; installation of new wooden doors and
		cupboards; replacement of sections of timber damaged by termites; roofing work; re-erection of
		fallen columns in the nave; installation of displays of archaeological finds; installation of a new
		altar in the sanctuary; and repair and conservation of the interior and exterior of the tower
		adjacent to the church.<br />
		Read more about the
		<a href="https://www.arce.org/project/red-monastery-architectural-conservation" alt="conservation at the Red Monastery">
		architectural conservation at the Red Monastery.
		</a>
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Statement of Responsibility:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		The American Research in Egypt (ARCE) managed the implementation of the architectural
		conservation of the Red Monastery in Sohag, Egypt, led by Michael Jones and
		architect Nicholas Warner. Conservation work was supported by the Egyptian Ministry of
		Tourism and Antiquities (formerly the Egyptian Supreme Council of Antiquities).
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Funding:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		Conservation of the monument was funded through the American Research Center in Egypt's
		Cultural Heritage Tourism Project in Egypt (Annual Program Statement) United States Agency
		for International Development (USAID) Agreement No. 263-A-15-00007.
	</p>

	<h4 class="u-heading-v2__title g-mb-10 g-mt-60">
		Documentation and Conservation of the Funerary Monument of King Khasekhemwy at Abydos
	</h4>

	<p class="g-px-60--md g-mb-10 g-mt-20">
		Project Directors: David O’Connor and Matthew D. Adams
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Historic Era: Early Dynastic Period
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		Project Location: Sohag Governorate
	</p>
	<p class="g-px-60--md g-mb-5 g-mt-5">
		1999 – 2006 and 2010 – 2014
	</p>

	<p class="g-px-60--md g-mb-5 g-mt-10">
		The funerary monument of King Khasekhemwy in Abydos is also known as the Shunet el-Zebib.
		Little is known about King Khasekhemwy, the last king of the Second Dynasty, but his reign
		ended in 2686 BC, making Shunet el-Zebib among the oldest surviving mud brick structures in
		the world and the best example of Egypt’s earliest tradition of royal mortuary building. Funding
		from the Egyptian Antiquities Project (EAP) between 1999 and 2006 resulted in documentation
		and conservation of approximately 50% of the 200-meter perimeter using newly made mud
		bricks of the same size and originally sourced materials to re-establish structural integrity.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		Follow-up funding provided under a subsequent USAID grant in 2010 enabled team members to
		continue with the stabilization and conservation of the enclosure, parts of which still risked
		collapse. The precarious situation at the Shunet el-Zebib was evidenced by its inclusion in the
		World Monuments Fund’s 2008 Watch List of the World’s 100 Most Endangered Sites.
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Statement of Responsibility:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		The conservation and documentation of King Khasekhemwy’s Funerary Monument at Abydos
		was implemented by the Institute of Fine Arts, New York University, led by David O’Connor,
		Director, and Matthew Douglas Adams, Associate Director, under the auspices of the University
		of Pennsylvania Museum-Yale University-Institute of Fine Arts, New York University
		Expedition to North Abydos, Egypt (William Kelly Simpson and David O’Connor, Co-directors)
		and in collaboration with consultants William C.S. Remsen (International Preservation
		Associates, Inc.), Anthony Crosby (Architectural Conservation, LLC), and Conor Power
		(Structural Technology, Inc.). Conservation work was made possible with the support of the
		Egyptian Ministry of Tourism and Antiquities (formerly the Egyptian Supreme Council of
		Antiquities).
	</p>

	<h5 class="u-heading-v2__title g-mb-10 g-px-60--md">
		Funding:
	</h5>

	<p class="g-px-60--md g-mb-20 g-mt-20">
		Conservation of the monument was originally funded through the American Research Center in
		Egypt's Egyptian Antiquities Project (ARCE-EAP) under United States Agency for International
		Development (USAID) Agreement No. 263-G-00-93-00089-00 (1999-2006) and subsequently
		funded through ARCE's Egyptian Antiquities Conservation Project (ARCE-EAC) under USAID
		Agreement No. 263-A-00-04-00018-00 (2010-2012).
	</p>
</div>