<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Bibliography
    </h2>
  </div>

  <ul class="g-mt-40">
    <li><a href="#basic">Procedures and Methodology: Basic</a></li>
    <li><a href="#advanced">Procedures and Methodology: More Advanced</a></li>
    <li><a href="#theory">Theory and Interpretation</a></li>
    <li><a href="#classroom">Oral History in the Classroom</a></li>
    <li><a href="#community">Oral History in Community History Projects</a></li>
    <li><a href="#family">Family History</a></li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="basic" class="h3 u-heading-v1__title">Procedures and Methodology: Basic
    </h2>
  </div>

  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>James Hoopes, <em>Oral History: An Introduction for Students</em> (Chapel Hill, North Carolina: University of North Carolina Press, 1979): A basic guide on how to prepare for and conduct an oral history
    </li>
    <li><a href="http://www.oralhistory.org/network/mw/index.php/Evaluation_Guide" target="_blank">Oral History Association Evaluation Guidelines:</a> Best practices on interview conduct and content; information about archival, ethical, and legal issues; and considerations of technology and preservation
    </li>
    <li>Donald A. Ritchie, <em>Doing Oral History</em> (New York: Twayne Publishers, 1995): About all aspects of oral history, from setting up interview projects and conducting interviews to teaching oral history and preserving oral history materials; includes sample legal agreements</li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="advanced" class="h3 u-heading-v1__title">Procedures and Methodology: Advanced
    </h2>
  </div>

  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Paul Thompson, <em>The Voice of the Past: Oral History</em> (Oxford, England: Oxford University Press, 1988): Guidance on preparing and conducting oral history interviews, detailed discussions about the development of oral history and evaluating oral history as evidence, and a "life-story interview guide"</li>
    <li>Robert S. Weiss, <em>Learning from Strangers: The Art and Method of Qualitative Interview Studies</em> (New York: Free Press, 1994): Introduction to qualitative interviewing techniques, including an analysis of a transcript and the choices the interviewer makes</li>
    <li>Valerie Raleigh Yow, <em>Recording Oral History: A Practical Guide for Social Scientists</em> (Thousand Oaks, California: Sage Publications, 1994): Designing and conducting oral history interviews; includes a discussion of legal and ethical issues</li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="theory" class="h3 u-heading-v1__title">Theory and Interpretation
    </h2>
  </div>

  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Michael Frisch, <em>A Shared Authority: Essays on the Craft and Meaning of Oral History and Public History</em> (Albany, New York: State University of New York Press, 1990): Essays about how oral histories are presented and issues of memory, power, and interpretive authority
    </li>
    <li>Sherna Berger Gluck and Daphne Patai, editors, <em>Women's Words: The Feminist Practice of Oral History</em> (New York: Routledge, 1991): Essays on methodological, ethical, and interpretive issues from a feminist standpoint
    </li>
    <li>Ronald J. Grele, editor, <em>Envelopes of Sound: The Art of Oral History</em> (New York: Praeger, 1991): Essays about the process of interviewing, ways of interpreting oral histories, and oral history’s status as a mode of historical understanding; a groundbreaking book in the establishment of oral history as a field of study
    </li>
    <li>Robert Perks and Alistair Thomson, editors, <em>The Oral History Reader</em> (New York: Routledge, 1998): Articles exploring practical and theoretical aspects of oral history; includes chapters from many other books on this list
    </li>
    <li>Alessandro Portelli, <em>The Death of Luigi Trastulli and Other Stories: Form and Meaning in Oral History</em> (Albany, New York: State University of New York Press, 1991): Essays by one of the leading theorists of oral history on topics including the distinguishing characteristics of oral history; the dynamic between oral historians and subjects; temporal structures in oral narratives; the relationship of personal, collective, and institutional narratives; and the significance of discrepancies between fact and memory</li>
    <li>Alessandro Portelli, <em>The Battle of Valle Giulia: Oral History and the Art of Dialogue</em> (Madison, Wisconsin: University of Wisconsin Press, 1997): Expands on many themes introduced in The Death of Luigi Trastulli, including oral history as narrative form and genre, ethics, the relationship between interviewer and interviewee, and oral history as a means of exploring subjectivity</li>
    <li>Alistair Thomson, <em>Anzac Memories: Living with the Legend</em> (Oxford, England: Oxford University Press, 1994): Uses interviews with World War I veterans to analyze the ways that larger social constructions of memory shape individual narratives</li>
    <li>Elizabeth Tonkin, <em>Narrating Our Pasts: The Social Construction of Oral History</em> (Cambridge, England: Cambridge University Press, 1992): Examines traditions of oral narrative in Africa, Europe, and the Americas from an anthropological perspective and focuses on oral representations of the past as social practices that are defined by different constructions of self, memory, and history</li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="classroom" class="h3 u-heading-v1__title">Oral History in the Classroom
    </h2>
  </div>

  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li><em>Adventures in Oral History: Using Oral History in K-12:</em> Video can be ordered from California State University, Long Beach <a href="http://www.csulb.edu/colleges/cla/departments/history/oral-history-program/" target="_blank">Oral History Program</a></li>
    <li>Ronald J. Grele, "Oral History: Method and Theory; Columbia University Course Syllabus"; Andor Skotnes, "Oral History: Voices from the Past; Russell Sage College Course Syllabus"; and Sherna Berger Gluck, "Special Topics in Women's Oral History: Toward an Inclusive History of United States Feminist Activism; California State University Course Syllabus," <em>Radical History Review</em> 65 (Spring 1996): 131-46</li>
    <li><em>Oral History Review</em> 25 (Spring/Fall 1998): Special issue on oral history in the classroom</li>
    <li>Eliot Wigginton, <em>Sometimes a Shining Moment: The Foxfire Experience</em> (Garden City, New York: Anchor Press/Doubleday, 1985)</li>
    <li>Linda Wood, <em>Oral History Projects in Your Classroom:</em> Can be ordered from the <a href="http://www.oralhistory.org/publications/pamphlet-series/" target="_blank">Oral History Association</a></li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="community" class="h3 u-heading-v1__title">Oral History in Community History Projects
    </h2>
  </div>

  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Laurie Mercier and Madeline Buckendorf, <em>Using Oral History in Community History Projects:</em> Can be ordered from the <a href="http://www.oralhistory.org/publications/pamphlet-series/" target="_blank">Oral History Association</a></li>
    <li>Linda Shopes, "Baltimore Neighborhood Heritage Project: Oral History and Community Involvement," <em>Radical History Review</em> 25 (1981): 26-44</li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="family" class="h3 u-heading-v1__title">Family History
    </h2>
  </div>

  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Sharon DeBartolo Carmack, "Interviewing Mom and Grandma: Oral History Tips," <a href="http://www.genealogy.com/95_carmack.html" target="_blank">genealogy.com</a></li>
    <li>William Fletcher, <em>Recording Your Family History: A Guide to Preserving Oral History with Videotape, Audiotape, Suggested Topics and Questions, Interview Techniques</em> (Berkeley, California: Ten Speed Press, 1989): Workbook with numerous sample questions; primarily for young adults</li>
    <li>Vera Rosenbluth, <em>Keeping Family Stories Alive: Discovering and Recording the Stories and Reflections of a Lifetime</em> (Point Roberts, Washington: Hartley and Marks Publishers, 1997): Includes interviewing tips, questions, and excerpts from sample interviews</li>
    <li>Elizabeth Stone, <em>Black Sheep and Kissing Cousins: How Our Family Stories Shape Us</em> (New York: Penguin, 1984): Explores how families use their shared stories to define themselves</li>
    <li>Katherine Scott Sturdevant, <em>Bringing Your Family History to Life through Social History</em> (Cincinnati: Betterway Books, 2000): Introduction to family history; includes information on analyzing family artifacts and photographs, conducting effective oral history interviews, doing library research, and writing family histories</li>
    <li>Robert M. Wendlinger, <em>The Memory Triggering Book</em> (Berkeley, California: Proust Press, 1995): Helps readers find triggers that can inspire vivid, sensory access to past events</li>
  </ul>

</div>


