<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Contact
    </h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    The Center for Oral History Research offices are located in 21564 Charles E. Young Research Library. Hours are Monday through Friday from 8 a.m. to 5 p.m.
  </p>

  <p class="lead g-px-60--md g-mb-40">
    <strong>Mailing Address:</strong><br>
    UCLA Library Center for Oral History Research<br>
    21564 Charles E. Young Research Library<br>
    Box 951575<br>
    Los Angeles, CA 90095-1575
  </p>

  <p class="lead g-px-60--md g-mb-40">
    <strong>Telephone:</strong> 310.825.4932<br>
    <strong>Email:</strong><%= mail_to("oral-history@library.ucla.edu", "oral-history@library.ucla.edu") %>
  </p>

  <p class="lead g-px-60--md g-mb-40">
    <strong>Staff</strong><br>
    Teresa Barnett<br>
    Head<br>
    Phone: 310.206.2454<br>
    <%= mail_to("tbarnett@library.ucla.edu", "tbarnett@library.ucla.edu") %>
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Jane Collings<br>
    Principal Editor/Program Coordinator for Film and the Arts<br>
    Phone: 310.267.4754<br>
    <%= mail_to("jcolling@library.ucla.edu", "jcolling@library.ucla.edu") %>
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Alex Cline<br>
    Program Coordinator for Asian American History/Program Coordinator for Music<br>
    Phone: 310.825.7524<br>
    <%= mail_to("acline@library.ucla.edu", "acline@library.ucla.edu") %>
  </p>

</div>
