<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Copyright and Permissions
    </h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    All transcripts and recordings on this site are protected under the copyright law of the 
    United States (Title 17, United States Code). Distribution or reproduction of copyrighted 
    materials beyond that allowed by fair use requires the written permission of the copyright 
    owners. The University of California Regents hold the copyright to many of the oral 
    histories on this site. For permission to use any of those oral histories, please 
    contact UCLA Library Special Collections at 
    <a href="http://www.library.ucla.edu/special-collections" target="_blank">http://www.library.ucla.edu/special-collections</a>
  </p>
</div>
