<%= render partial: '/shared/sub_header' %>
<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">
			YouTube Tutorials
    </h2>
  </div>

  <div class="row g-mt-40">
    <div class="col-sm-4">
      <h3>Introduction to the New Website</h3>
      <p>This video is part one of four of a tutorial series on understanding and using ARCE's new Conservation Archives Website, archives.arce.org. Created and Narrated by Tessa Litecky.</p>
    </div>
    <div class="col-sm-8">
      <div class="embed-responsive embed-responsive-16by9 g-mb-30">
        <iframe width="100%" src="//www.youtube.com/embed/YilPCp155IQ" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>

  <div class="row g-mt-40">
    <div class="col-sm-4 hidden-lg hidden-md hidden-sm">
      <h3>Website Design and About the Collections</h3>
      <p>This video is part two of four of a tutorial series on understanding and using ARCE's new Conservation Archives Website, archives.arce.org. Created and Narrated by Tessa Litecky.</p>
    </div>
    <div class="col-sm-8">
      <div class="embed-responsive embed-responsive-16by9 g-mb-30">
        <iframe width="100%" src="//www.youtube.com/embed/YhnYwWOCZEU" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
    <div class="col-sm-4 hidden-xs">
      <h3>Website Design and About the Collections</h3>
      <p>This video is part two of four of a tutorial series on understanding and using ARCE's new Conservation Archives Website, archives.arce.org. Created and Narrated by Tessa Litecky.</p>
    </div>
  </div>

  <div class="row g-mt-40">
    <div class="col-sm-4">
      <h3>Archives Policies and Use of Materials</h3>
      <p>This video is part three of four of a tutorial series on understanding and using ARCE's new Conservation Archives Website, archives.arce.org. Created and Narrated by Natalya Stanke.</p>
    </div>
    <div class="col-sm-8">
      <div class="embed-responsive embed-responsive-16by9 g-mb-30">
        <iframe width="100%" src="//www.youtube.com/embed/fUWAaLTeT_0" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>

  <div class="row g-mt-40">
    <div class="col-sm-4 hidden-lg hidden-md hidden-sm">
      <h3>Navigating the Website and Search Tips</h3>
      <p>This video is part four of four of a tutorial series on understanding and using ARCE's new Conservation Archives Website, archives.arce.org. Created and Narrated by Natalya Stanke.</p>
    </div>
    <div class="col-sm-8">
      <div class="embed-responsive embed-responsive-16by9 g-mb-30">
        <iframe width="100%" src="//www.youtube.com/embed/VRDTCseTV4Q" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
    <div class="col-sm-4 hidden-xs">
      <h3>Navigating the Website and Search Tips</h3>
      <p>This video is part four of four of a tutorial series on understanding and using ARCE's new Conservation Archives Website, archives.arce.org. Created and Narrated by Natalya Stanke.</p>
    </div>
  </div>

</div>