<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Family History Sample Outline and Questions
    </h2>
  </div>

  <p class="lead g-mb-40 g-mt-40">
    The following outline can be used to structure a family oral history interview and contains examples of specific questions.
  </p>

  <ul class="g-mt-40 g-list-style-upper-roman">
    <li><a href="#childhood">Early Childhood and Family Background</a></li>
    <li><a href="#teens">Teenage Years</a></li>
    <li><a href="#adulthood">Adulthood</a></li>
    <li><a href="#overview">Overview and Evaluation</a></li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="childhood" class="h3 u-heading-v1__title">I. Early Childhood and Family Background
    </h2>
  </div>
  <h4 class="g-font-weight-200">A. Parents and Family</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>When and where were you born?</li>
    <li>Tell me about your parents or your family background</li>
    <li>Where was your family originally from?</li>
    <li>What did your parents do for a living? Did you contribute to the family income or help parents in their work in any way?</li>
    <li>What was your parents' religious background? How was religion observed in your home?</li>
    <li>What were your parents' political beliefs? What political organizations were they involved in?</li>
    <li>What other relatives did you have contact with growing up?</li>
    <li>What do you remember about your grandparents?</li>
    <li>What stories did you hear about earlier ancestors whom you never knew?</li>
    <li>How many children were in the family, and where were you in the line-up?</li>
    <li>Describe what your siblings were like. Who were you closest to?</li>
    <li>Describe the house you grew up in. Describe your room.</li>
    <li>What were your family's economic circumstances? Do you remember any times when money was tight? Do you remember having to do without things you wanted or needed?</li>
    <li>What were your duties around the house as a child? What were the other children's duties? How did duties break down by gender?</li>
    <li>When did you learn to cook and who taught you? Were there any special family foods or recipes? Do you still make any traditional family foods?</li>
    <li>What activities did the family do together?</li>
    <li>What did you do on Christmas? Thanksgiving? Birthdays? Other holidays?</li>
  </ul>

  <h4 class="g-font-weight-200">B. Community You Grew Up In</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Describe the community you grew up in.</li>
    <li>Describe your neighborhood.</li>
    <li>Where did you shop? How far away were these shops and how did you get there?</li>
    <li>What's the largest town or city you remember visiting when you were young? Can you describe your impressions of it?</li>
  </ul>

  <h4 class="g-font-weight-200">C. Early Schooling</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>What was school like for you? What did you like about it? What was hard about it for you?</li>
    <li>Who were your friends at school?</li>
    <li>Who were your favorite teachers?</li>
    <li>Do you remember teasing or bullying of you or anyone else?</li>
  </ul>

  <h4 class="g-font-weight-200">D. Friends and Interests</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>What did you do in your spare time?</li>
    <li>Who were your friends and what did you do when you got together?</li>
    <li>Did you have any hobbies?</li>
    <li>Favorite stories? Favorite games or make-believe? Favorite toys?</li>
    <li>What did you want to be when you grew up?</li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="teens" class="h3 u-heading-v1__title">II. Teenage Years
    </h2>
  </div>
  <h4 class="g-font-weight-200">A. Changes in Family</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>How did your relationship with your parents change when you became a teenager?</li>
    <li>If you had conflict with them, what was it over?</li>
    <li>Did you have chores around the house? What were they?</li>
  </ul>
  <h4 class="g-font-weight-200">B. School</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>What were your favorite subjects? Particular interests?</li>
    <li>What were your least favorite subjects?</li>
    <li>Did you have any memorable teachers? Describe their teaching style. How did they influence you?</li>
    <li>Was it okay for girls to be smart at your school?</li>
    <li>What were the different groups at your school? Which did you belong to? How do you think you were perceived by others?</li>
    <li>Were you involved in any extracurricular activities? What were they?</li>
    <li>What were your plans when you finished school? Education? Work?</li>
    <li>What did your parents think of your plans? What did your friends think? What did your friends plan to do?</li>
    <li>Did the boys and girls in the family have different plans/expectations?</li>
  </ul>

  <h4 class="g-font-weight-200">C. Work</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Did you have jobs during your teenage years? Doing what?</li>
    <li>Did you contribute to the family income? If not, how did you spend your money?</li>
  </ul>

  <h4 class="g-font-weight-200">D. Social Life and Outside Interests</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Who were your friends? What did you do together? What individuals did you spend the most time with during this period?</li>
    <li>Was your group of friends single-sex, or did it include both boys and girls?</li>
    <li>At what age did you begin dating? What kinds of activities did you do on dates? Describe your first date.</li>
    <li>What was your parents' advice/rules related to dating/contact with opposite sex? Did they give you a "birds and bees" lecture? Did you get teaching on this in church or school? What was it?</li>
    <li>What were your peer group's norms with regard to dating and relationships with the opposite sex?</li>
    <li>What were your hobbies/interests? What books did you read? What music did you listen to? What sports did you play? What crafts did you participate in?</li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="adulthood" class="h3 u-heading-v1__title">III. Adulthood
    </h2>
  </div>
  <h4 class="g-font-weight-200">A. Further Education</h4>
  <h4 class="g-font-weight-200">B. Work and Career</h4>
  <h4 class="g-font-weight-200">C. Marriage or Formation of Significant Relationships</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>When and where did you meet? What drew you to him/her?</li>
    <li>When and how did you decide to move in together and/or marry?</li>
    <li>What was originally the most difficult for you about being married/being in a relationship? What was most satisfying?</li>
    <li>What advice would you give to someone today who was contemplating a serious relationship?</li>
  </ul>
  <h4 class="g-font-weight-200">D. Children</h4>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Describe the birth of your children.</li>
    <li>What were they each like when they were young? How have they changed or not changed?</li>
    <li>What were their relationships with each other and with you like when they were young? Now?</li>
    <li>What activities did the family do together?</li>
    <li>What family traditions did you try to establish?</li>
    <li>Does your family have any heirlooms or objects of sentimental value? What is their origin, and how have they been passed down?</li>
    <li>What was most satisfying to you about raising children? What was most difficult?</li>
    <li>What values did you try to raise your children with? How did you go about doing that?</li>
    <li>What forms of discipline did you use and why?</li>
  </ul>
  <h4 class="g-font-weight-200">E. Ongoing Interests and Hobbies</h4>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="overview" class="h3 u-heading-v1__title">IV. Overview and Evaluation
    </h2>
  </div>

  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>What has provided you the greatest satisfaction in life?</li>
    <li>How would you say the world has changed since you were young?</li>
  </ul>
  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    Also, ask about historically significant events the family member lived through:
  </p>
  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Was your family affected by the Depression?</li>
    <li>Did you or anyone close to you serve in a war? What do you remember of that experience?</li>
    <li>Did you support or oppose the war in Vietnam? How did you express your political opinions?</li>
    <li>Did you participate in, or do you have any memories of any of the movements that came out of the 1950s, '60s, and '70s, such as the civil rights movement, the women's liberation movement, or the gay liberation movement?</li>
    <li>If the family member belongs to a group that has traditionally been discriminated against: what were you told, both positive and negative, about your group inside your family? Outside? Did you experience discrimination? Who were your role models?</li>
    <li>If the family member is an immigrant or the child/grandchild of immigrants: what do you know of the country you or they came from? Why did you or they immigrate? How did you or they immigrate? What were some of your or their experiences and difficulties of beginning a life in a new country?</li>
    <li>Do you remember your first contact with such significant inventions as radio, television, or a computer? When did your family first buy these items?</li>
  </ul>
</div>
