<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Interviewing Guidelines
    </h2>
  </div>
  <ul class="g-mt-40">
    <li><a href="#recording-tips">Equipment and Audio Recording Tips</a></li>
    <li><a href="#techniques">Interviewing Techniques</a></li>
    <li><a href="#interviewing-tips">Interviewing Tips</a></li>
    <li><a href="#more">More Information</a></li>
  </ul>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="recording-tips" class="h3 u-heading-v1__title">Equipment and Audio Recording Tips
    </h2>
  </div>
  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    The one piece of equipment that makes the difference between an audible and an inaudible recording is an external microphone. Even a very inexpensive recorder can produce an adequate, clear recording with a relatively low-priced (under $50) condenser microphone, which is a microphone with its own power source, usually a battery. Unless the interview circumstances require the interview to be conducted while walking or moving about, an expensive wireless microphone is not necessary; one that simply plugs into the recorder will work well. The mike should also be a lapel mike, which the interviewee clips on, rather than an external mike that on a table. That focuses the recording on the interviewee's voice, rather than indiscriminately picking up every sound in the room. Finally, if only the interviewee is miked, the interviewer's questions will usually still be audible, although faintly. Having a second microphone for the interviewer is ideal; note that it may require the use of a splitter to connect both mikes into one jack.
  </p>

  <p class="lead g-px-60--md g-mb-40">
    The recorder does not need to be expensive, but it must have two essential features: a microphone outlet and the capacity to deactivate the "voice-activated" function. Leaving the voice-activation function on produces a jerky, start-and-stop recording that chops off beginnings of sentences.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Before conducting the first interview, practice recording with the equipment to become completely comfortable with its controls and to know how to troubleshoot any technical problems.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Conduct the interview in as quiet a place as possible. Sounds that may be unnoticeable during the interview will inevitably be magnified on the recording, so avoid public places and settings with background noises such as construction or humming machines.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Do a brief test recording with the interviewee at the interview location and play it back immediately to make sure the equipment is functioning properly and there is no distracting background noise.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Make a habit of systematically noting the interviewee's name, the date and place, and any interview notes as soon as each interview session is finished. This ensures that that information is available when the interview resumes or is played back.
  </p>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="techniques" class="h3 u-heading-v1__title">Interviewing Techniques</h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    An oral history interview is not about the interviewer. The focus should be on the interviewee, and he or she should do most of the talking, with occasional questions from the interviewer to guide the interview in the most productive directions.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    In general, a chronological organization is usually the best structure for an oral history interview. It allows the interviewee to show how his or her experiences and ideas developed over time, gives depth and richness to the topics being discussed, and offers a convenient organizing structure so that interviewer and interviewee do not simply drift among random reminiscences.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Since memory does not follow a strict chronology, however, inevitably the interviewee will jump around in time. That jumping around is important and shows how the interviewee connects different areas of his or her experience, so it should not be entirely discouraged. However, if the interviewee jumps around too much, the chronological thread of the interview will be lost. Sometimes the interviewer will decide that it is productive to have the interviewee leap to another time to illuminate the point he or she is making. In other instances, the interviewer may feel the interviewee is ranging too far afield and will want to gently bring him or her back to the time period under discussion and note that the disgression may be of further interest later in the interview.
  </p>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="interviewing-tips" class="h3 u-heading-v1__title">Interviewing Tips
    </h2>
  </div>
  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    Each new topic is best approached with a large question that allows the interviewee to describe his or her experiences at length. Questions that begin "Tell me about . . ." or "Can you describe . . ." are good ways of stimulating the interviewee's memory and allowing him or her to generate his or her own story rather than simply responding to predetermined forms. In general, the various topics of an interview can be viewed as an inverted pyramid: broad, general questions first, followed by questions asking for more detail.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    What is of interest is the story of the interviewee's experience, not just facts or opinions. Try to get the specifics of his or her lived experiences before asking him or her to evaluate an experience or to offer analysis. In this connection, always ask the interviewee to speak in terms of his or her concrete experiences and not simply about what he or she thinks people in general felt or did.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Once the interviewee begins talking, the general rule is to not interrupt. Interruptions disrupt the flow of narrative, break the speaker's concentration, and he or she may never return to what they were about to say. Wait until the interviewee completes a story or train of thought to ask a follow-up question or introduce a new topic. With exceptionally long-winded or rambling interviewees, it may be necessary to learn to jump in very quickly and firmly when a story is completed and to set expectations at the beginning of each interview session about how much of the material on the outline should be covered in that session.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Once an interviewee has finished answering a question, be ready with follow-up questions for greater detail, context, clarification, and evaluation. Much of the interviewer's role is to be alert to what the interviewee does not say and to help him or her expand the story so that it is more meaningful for others.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Questions should be concise and focused. Try to be as precise as possible, and ask only one question at a time. Like most oral history skills, this takes a good deal of practice.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Interviewees cannot be expected to read the interviewer's mind. Avoid having the questions feel choppy and disconnected by clearly indicating shifts in direction or how one question relates to another. For example, use the following transitions: "We've talked about X, but now I'd like to move on to . . ." or "I'd like to follow up on something you said previously . . . ."
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Yes-or-no questions are useful when it's important to clarify a specific detail but should otherwise be avoided because they do not generate the rich, full answers that open-ended questions do. Similarly, leading questions -- those that begin "Don't you think that . . ." -- and either/or questions that allow for only a couple of options should be avoided. Such questions foreclose opportunities to hear the interviewee's own thoughts on an issue, which may be very different than the options the interviewer might suggest.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Don't begin an interview with highly personal or sensitive questions. As the interviewee becomes more relaxed with the interview situation and with the interviewer, he or she will invariably open up more and will often be willing to discuss issues he or she would not have been willing to discuss at the beginning of the interview.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Part of the interviewer's role is to challenge the interviewee when necessary. An interviewer who knows that there is more to a story than the interviewee is telling or feels that the interviewee seems to be glossing over negative aspects should politely but firmly challenge the interviewee. This can generally be done in ways that do not antagonize by maintaining a neutral stance and simply asking for explanations of facts that do not fit with the interviewee's interpretation or by calling attention to other ways of perceiving the situation. Such challenges often appear less confrontational if the interviewer refers to other sources that disagree with the interviewee or, in a more general way, to "criticisms at the time" or to "arguments I have heard."
  </p>

  <div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
    <h2 id="more" class="h3 u-heading-v1__title">More Information
    </h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    Further information about oral history methodology can be found on the following Web sites:
  </p>

    <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
      <li><a href="http://www.csulb.edu/colleges/cla/departments/history/oral-history-program/an-oral-history-primer/" target="_blank">An Oral History Primer: </a>created by the Department of History at California State University, Long Beach</li>
      <li><a href="http://www.ohs.org.uk/" target="_blank">Oral History Society: </a>an international society based on England</li>
      <li><a href="http://dohistory.org/on_your_own/toolkit/oralHistory.html" target="_blank">Step-by-Step Guide to Oral History: </a>from the DoHistory Web site</li>
    </ul>

  <p class="lead g-px-60--md g-mb-40">
    A guide to audio field recording equipment is available on the <a href="http://www.vermontfolklifecenter.org/archive/res_audioequip.htm#iii" target="_blank">Vermont Folklife Center Web site.</a>
  </p>

</div>
