<%= render partial: '/shared/sub_header' %>
<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">
			Conservation Archives Policies
    </h2>
  </div>

  <div class="g-px-60--md g-mb-40 g-mt-40 g-ml-40 list-group">
    <a class="list-group-item list-group-item-action" href="#access">Access and Use Policy</a>
    <a class="list-group-item list-group-item-action" href="#privacy">Privacy Policy</a>
    <a class="list-group-item list-group-item-action" href="#takedown">Take-Down Policy</a>
  </div>

	<h3 class="u-heading-v2__title g-mb-10" id="access">
		Access and Use Policy
	</h3>

  <p class="g-px-60--md g-mb-20 g-mt-40">
		Openly accessible material is a top priority of the ARCE Archives, which is why we’re digitally publishing our Conservation Archives for researchers and the general public alike. With five collections published so far, we’re excited to continue the process of digitizing and expanding online access to our unique content.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		In line with the Archives’ mission to sustainably ensure open access, we’ve applied a Creative Commons license to material within the Conservation Archives. All Conservation Archives material and copyright belongs to ARCE. However, our material is freely accessible (and available for low-resolution download) for public research and use under the terms of the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" alt="creative commons license">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) license</a>. This means researchers can non-commercially use and adapt content (given any adapted versions must be shared under the same license). Unauthorized commercial use of the licensed material is NOT permitted, neither of the original nor any modified form.
	</p>
	<p class="g-px-60--md g-mb-40 g-mt-20">
		Anyone wishing to reproduce collection materials for commercial purposes must request reproduction permission as copyright restrictions apply. Additionally, users looking for high- resolution reproductions must request permission as well. To request reproductions or find out more about our information usage policies, please email <a href="mailto:archives@arce.org" alt="archives@arce.org">archives@arce.org</a>.  
	</p>

	<h3 class="u-heading-v2__title g-mb-10" id="privacy">
		Privacy Policy
	</h3>

	<p class="g-px-60--md g-mb-20 g-mt-40">
		All ARCE archival material, including the Conservation Archives, belongs to ARCE’s copyright. However, ARCE recognizes that not all existing archival materials are appropriate for digital publication or researcher access given privacy concerns.	
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		As such, the ARCE Archives will not digitally publish content containing any sensitive personal information within any medium (photograph, document, etc.). We will not publish administrative ARCE records (reports, memoranda, etc.) that contain sensitive personal data for ARCE employees.
	</p>
	<p class="g-px-60--md g-mb-40 g-mt-20">
		ARCE will not digitally publish sensitive administrative or financial records on the Archives portal, nor will they be available for in-person research. All mission-related material will be freely available with the exception of items containing sensitive information for ARCE employees or the organization.
	</p>
	
	<h3 class="u-heading-v2__title g-mb-10" id="takedown">
		Take-Down Policy
	</h3>

	<p class="g-px-60--md g-mb-20 g-mt-40">
		The ARCE Archives supports open access to our content. With that, we recognize that material published online may unintentionally violate privacy issues.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		When selecting material for digital publication, the ARCE Archives acts in good faith and takes precautionary screening measures to abide by the Archives’ Privacy Policy. Despite our best efforts, we recognize that archival content published online may unintentionally possess material containing sensitive personal information, material including content that may be regarded as obscene or defamatory, and/or material violating intellectual property.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		If you believe that any published ARCE Archives content violates our Privacy Policy or contains any of the issues as listed above, please report alleged violations so that the Archives team can work to resolve any issues as quickly as possible. Please contact us to report alleged violations at <a href="mailto:archives@arce.org" alt="archives@arce.org">archives@arce.org</a> with the following information: 
	</p>

	<p class="g-px-80--md g-mb-5 g-mt-5">
		1. Your contact details
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		2. The full details of the material, including the exact and full title of the item(s) and filename(s)
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		3. The reason for your request including but not limited to copyright law, privacy laws, data protection, obscenity, defamation, etc.
	</p>

	<p class="g-px-60--md g-mb-40 g-mt-40">
		Upon receival of a complaint, ARCE will follow this procedure:
	</p>

	<p class="g-px-80--md g-mb-5 g-mt-20">
		1. The ARCE Archives will acknowledge receipt of your complaint by email and will make an initial assessment of the validity and plausibility of the complaint.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		2. Upon determination of a valid complaint, the material will be temporarily removed from the ARCE Archives portal pending an agreed upon solution.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		3. The ARCE Archives will aim to resolve the issue swiftly and amicably and to the satisfaction of all parties, with the following possible outcomes:
	</p>
	<p class="g-px-120--md g-mb-5 g-mt-5">
		1. The material is republished on the ARCE Archives portal unchanged. 2. The material is republished on the ARCE Archives portal with changes. 3. The material is permanently removed from the ARCE Archives portal.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		* Adapted from the American Center for Oriental Research’s Take-Down Policy.
	</p>
</div>