<%= render partial: '/shared/sub_header' %>
<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">
			Conservation Archives Policies
    </h2>
  </div>

  <div class="g-px-60--md g-mb-40 g-mt-40 g-ml-40 list-group">
    <a class="list-group-item list-group-item-action" href="#access">Access and Use Policy</a>
    <a class="list-group-item list-group-item-action" href="#privacy">Privacy Policy</a>
    <a class="list-group-item list-group-item-action" href="#takedown">Take-Down Policy</a>
    <a class="list-group-item list-group-item-action" href="#search">Search Information</a>
  </div>

	<h3 class="u-heading-v2__title g-mb-10" id="access">
		Access and Use Policy
	</h3>

	<h4 class="u-heading-v2__title g-mb-10">
		<u>Open Access</u>
	</h4>

  <p class="g-px-60--md g-mb-20 g-mt-40">
		ARCE is committed to breaking down barriers to knowledge and resources. Therefore, openly accessible content is the cornerstone of the ARCE Archives’ digital publication efforts. Our conservation Archives are geared for students, researchers, field-practitioners, and the general public alike. We look forward to showcasing our dedication to accessibility through expanding online access to our unique content.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		All assets within ARCE’s Conservation Archives are copyrighted with a 
		<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" alt="creative commons license">
			Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) license
		</a>
		, allowing users to access, download, or adapt our content for non-commercial use. Adapted or modified content sourced from our website <u>must be shared under the same license.</u> Unauthorized commercial use of licensed material (of the original or any modified form) <u>is not permitted.</u> All images and documents are available for download. Images are available on our website in medium-high resolution. ARCE is in possession of the highest resolution original images, which are available upon request. 
	</p>
	<h4 class="u-heading-v2__title g-mb-10">
		<u>Commercial Use</u>
	</h4>

  <p class="g-px-60--md g-mb-20 g-mt-40">
		Anyone wishing to reproduce collection materials for commercial purposes must request reproduction permission as copyright restrictions and fees apply. Additionally, users looking for high resolution reproductions must request permission as well.
	</p>
  <p class="g-px-60--md g-mb-20 g-mt-40">
		Commercial use of an image or item would be reproducing it in any manner that is primarily intended for or directed toward commercial advantage or monetary compensation. Using items/records on or in anything that is created with the intention of making a profit would be considered commercial use.
	</p>
  <p class="g-px-60--md g-mb-20 g-mt-40">
		Commercial activities include, but are not limited to:
	</p>
	 <p class="g-px-80--md g-mb-5 g-mt-20">
		-	Merchandise production
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		-	Images used in films or documentaries
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		-	Permanent or temporary exhibitions in printed publications for profit, with a print run more than 2,500 copies
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		-	e-books
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		-	Online or offline advertisements and commercial promotions.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		To request one or more ARCE items for one-time, non-exclusive commercial use:
	</p>
  <p class="g-px-60--md g-mb-20 g-mt-40">
		To request one or more ARCE items for one-time, non-exclusive commercial use:
	</p>
  <p class="g-px-80--md g-mb-5 g-mt-20">
		1. Fill out the following form, providing all information requested.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		2. Allow us at least two (2) business days to respond to the request
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		3. Confirmation will be sent to you via email, along with wiring instructions from ARCE’s accounting team.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		4. Once payment has been confirmed, the requested item(s) will be sent to you via your preferred platform (One Drive, WeTransfer, etc). If no format is specified, the item(s) will be sent as tiffs, in a minimum resolution of 300 ppi (pixels per image). If a larger file is needed, please specify this in your original request.
	</p>
	<br />
	<h4 class="u-heading-v2__title g-mb-10">
		<u>Terms and Conditions</u>
	</h4>
	<br />
	<p class="g-px-80--md g-mb-5 g-mt-5">
		1.	ARCE requires that digital (soft copies) and/or hard copies of the commercial publication be sent electronically or via postal service to ARCE offices for library and archival purposes. Addresses provided below:
	</p>
	<br/>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		Cairo Office:
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		ARCE Library
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		2 Midan Simon Bolivar
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		11461
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		
	</p>
	<br/>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		U.S. Office:
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		909 North Washington Street
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		Suite 320
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		Alexandria, VA 22314
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">

	</p>
	<br />
	<p class="g-px-80--md g-mb-5 g-mt-5">
		2. ARCE gives no exclusive rights to any publisher, and assumes no responsibility for duplication of production by others or any responsibility for claims by third parties.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		3. ARCE grants permission to reproduce record(s) for one-time, non-exclusive use only.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		4. The record(s) will be credited as follows: "Reproduced by permission of the American Research Center in Egypt, Inc. (ARCE). This project was funded by the United States Agency for International Development (USAID)”.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		Note: The credit line is subject to alterations if the Archives manager sees fit. If the images or material that you are requesting has received federal or private funding then the credit line will have to state the agency/sponsor. The Archives manager will provide further instructions and guidance.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		5. In addition to the above credit line, photographer or author of document (s) must be credited as well.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
	<u>Request Fees Schedule</u>
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		1. General publication use – $100 per image
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		2. Decorative publication use (cover) – $150 per image
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		3. Broadcast/video/dvd/documentary use – $300 per image
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		4. E-book – $250 per image
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		5. Commercial website use – $100 per year
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		6. Commercial permanent and temporary exhibition - $200 per image
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		7. Commercial brochures, programs, flyers, and newsletters - $100 per image
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		8. Commercial newspapers and magazines - $100 per image
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		To request reproductions for commercial purposes please press the following button and follow instructions: 
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		<strong>COMMERCIAL REQUEST BUTTON (TO BE INSTALLED BY SCIENTIST SOFTWARE SERVICES)</strong>
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-20">
		For any further inquiry, please email <a href="mailto:archives@arce.org" alt="archives@arce.org">archives@arce.org</a>.
	</p>

	<h3 class="u-heading-v2__title g-mb-10" id="privacy">
		Privacy Policy
	</h3>

	<p class="g-px-60--md g-mb-20 g-mt-40">
		All archival material is copyrighted to the American Research Center in Egypt (ARCE). ARCE reserves the right to withhold the publication or access of archival material deemed inappropriate for digital publication or research access due to privacy and legal concerns. This includes content containing any sensitive personal information within any medium (i.e image or document) about ARCE staff or contracted employees, administrative ARCE records, and financial records. As privacy protected content, these restrictions extend to in-person research. 
	</p>
	<p class="g-px-60--md g-mb-40 g-mt-20">
		For any further inquiry regarding the Privacy Policy please feel free to email <a href="mailto:archives@arce.org" alt="archives@arce.org">archives@arce.org</a>.
	</p>
	
	<h3 class="u-heading-v2__title g-mb-10" id="takedown">
		Take-Down Policy *
	</h3>

	<p class="g-px-60--md g-mb-20 g-mt-40">
		The ARCE Archives operates in good faith and takes precautionary screening measures to abide by the Archives’ Privacy Policy. Despite our best efforts, we recognize that archival content published online may unintentionally possess sensitive personal information, obscene or defamatory content, intellectual property violations, and/or information inaccuracies. 
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		When selecting material for digital publication, the ARCE Archives acts in good faith and takes
		precautionary screening measures to abide by the Archives’ Privacy Policy. Despite our best
		efforts, we recognize that archival content published online may unintentionally possess material
		containing sensitive personal information, material including content that may be regarded as
		obscene or defamatory, and/or material violating intellectual property. 
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		If you believe that any published ARCE Archives material violates our Privacy Policy or contains any of the issues listed above, we encourage you to report alleged violations to the Archives team through contacting 
 		<a href="mailto:archives@arce.org" alt="archives@arce.org">archives@arce.org</a>. The archives team will exert due diligence in resolving any issues as quickly as possible. 
	</p>

	<p class="g-px-80--md g-mb-5 g-mt-5">
		Please note that your e-mail must contain the following information: 
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		1. Your contact details.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		2.  The full details of the material, including the exact and full title of the item(s) and filename(s).
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		3.  The reason for your request including but not limited to copyright law, privacy laws, data
		protection, obscenity, defamation, etc.
	</p>

	<p class="g-px-60--md g-mb-40 g-mt-40">
		Upon receival of a complaint, ARCE will follow this procedure:
	</p>

	<p class="g-px-80--md g-mb-5 g-mt-20">
		1. The ARCE Archives will acknowledge receipt of your complaint by email and will make an
		initial assessment of the validity and plausibility of the complaint.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		2. Upon determination of a valid complaint, the material will be temporarily removed from the ARCE Archives portal pending an agreed-upon solution.
	</p>
	<p class="g-px-80--md g-mb-5 g-mt-5">
		3. The ARCE Archives will aim to resolve the issue swiftly and amicably and to the satisfaction
		of all parties, with the following possible outcomes:
	</p>
	<p class="g-px-120--md g-mb-5 g-mt-5">
		1. The material is republished on the ARCE Archives portal unchanged.
	</p>
	<p class="g-px-120--md g-mb-5 g-mt-5">
		2. The material is republished on the ARCE Archives portal with changes.
	</p>
	<p class="g-px-120--md g-mb-5 g-mt-5">
		3. The material is permanently removed from the ARCE Archives portal.
	</p>
	<p class="g-px-60--md g-mb-20 g-mt-20">
		<small>* Adapted from the American Center for Research’s Take-Down Policy.</small>
	</p>
	<h3 class="u-heading-v2__title g-mb-10" id="search">
	Facet Description
	</h3>
	<h4 class="u-heading-v2__title g-mb-10">
		<u>Collection Information</u>
	</h4>

	<p class="g-px-60--md g-mb-40 g-mt-20">
		ARCE adheres to open-access principles and practices through consistent and continual publication of collections on this website. This includes enhancing identification and discoverability through providing relevant metadata (information) fields, partially presented on this website as filters. We are committed to aiding our users understanding and use of our content through providing accurate and clear information on all published materials. Moreover, we aim cater to the diverse needs of our users by providing numerous fields addressing different subject matter and content areas. ARCE is <u>currently implementing the expansion</u> of our current metadata (information) fields to further facilitate our users’ website navigation. 

		The resulting information contextualizes collection material within various spheres, divided according to location, time period, genre, and subject matter, among others. Relevant data fields have been standardized where feasible to increase discoverability and inter-collection search. Information fields (metadata) used for our website’s sidebar filter are outlined below: 
	</p>

	<h4 class="u-heading-v2__title g-mb-10">
		<u>Description</u>
	</h4>

	<p class="g-px-60--md g-mb-40 g-mt-20">
		Item descriptions in a collection reflect original item titles provided to the Archives by project staff on a given conservation project. However, since we regard our archival material primarily as a research resource, modifications may be made for clarity or content accuracy. Any modifications are reviewed by subject matter experts before publication. Original and unaltered descriptions that contain such inaccuracies remain unaltered in our physical archives within the Cairo Center. 
	</p>

	<h4 class="u-heading-v2__title g-mb-10">
		<u>Topic &amp; Genre</u>
	</h4>
	<p class="g-px-60--md g-mb-40 g-mt-20">
		The material within the Conservation Archives covers a wide range of subject matter. To facilitate user discoverability of our diverse material, we use established controlled vocabularies in the application of authoritative names and terms where applicable. However, in cases where an appropriate/relevant authority term cannot be found in an established controlled vocabulary, ARCE creates a local authority term (LAT) when needed. 
	</p>
	<p class="g-px-60--md g-mb-40 g-mt-20">		
		For topic terms, our sources include the Thesauri and Ontology for documenting Ancient Egyptian Resources, 
		<a href="https://id.loc.gov/authorities/subjects.html" alt="Library of
		Congress Subject Headings (LCSH)">
			Library of Congress Subject Headings (LCSH)
		</a>,
		<a href="https://id.loc.gov/authorities/names.html" alt="Library of Congress Name Authority File (LCNAF)">
			the Library of Congress Name Authority File (LCNAF)
		</a>, and the 
		<a href="http://viaf.org/" alt="Virtual International Authority File (VIAF)">
			Virtual International Authority File (VIAF)
		</a>
	</p>
	<p class="g-px-60--md g-mb-40 g-mt-20">
		For genre terms, we use the 
		<a href="https://www.getty.edu/research/tools/vocabularies/aat/" alt="Getty’s Art & Architecture Thesaurus">
			Getty’s Art & Architecture Thesaurus
		</a>
		. For example, a digitized color slide displaying a wall painting includes “color slide” and 
		“frescoes” within its genre terms. This allows standardized content classification across collections. 
	</p>

	<h4 class="u-heading-v2__title g-mb-10">
		<u>Location</u>
	</h4>
	<p class="g-px-60--md g-mb-40 g-mt-20">
		The heritage conservation projects that make up ARCE’s conservation archives, cover various geographical areas throughout Egypt. For place names, the 
		<a href="https://id.loc.gov/authorities/subjects.html" alt="Library ofCongress Subject Headings (LCSH)">
			Library of Congress Subject Headings (LCSH)
		</a>, 
		<a href="https://www.geonames.org/" alt="Geonames">
			Geonames
		</a>, and the 
		<a href="http://www.getty.edu/research/tools/vocabularies/tgn/" alt="Getty Thesaurus for Geographic Names">
			Getty Thesaurus for Geographic Names
		</a> are used.
		Where applicable, location information at various geographic levels is provided. For example, the Aslam al-Silahdar Mosque is located in the Darb al-Ahmar neighbourhood of Historic Cairo. Location information included, therefore, reflects its situation within Cairo, Egypt, as well as within the Historic Cairo district and the Darb al-Ahmar neighbourhood. In the future, we aim for site visitors to be able to browse an increasing number of collections throughout cities in Egypt as well as throughout relevant districts or neighbourhoods, such as Historic Cairo.
	</p>

	<h4 class="u-heading-v2__title g-mb-10">
		<u>Time Period</u>
	</h4>

	<p class="g-px-60--md g-mb-40 g-mt-20">
		For temporal classification, we consult both the Thesauri and Ontology for documenting Ancient Egyptian Resources and 
		<a href="https://perio.do/en/" alt="PeriodO">
			PeriodO
		</a>
		. We include multiple authoritative terms as needed to reflect material that can be classified in more than one historical period. For example, the Shunet El Zebib monument is classified under the Early Dynastic Period as well as the 2nd Dynasty of ancient Egyptian history.
	</p>

	<p class="g-px-60--md g-mb-40 g-mt-20">
		As our published collections grow, we look forward to exploring enhanced possibilities for data description. We welcome suggestions and feedback at  
		<a href="mailto:archives@arce.org" alt="archives@arce.org">archives@arce.org</a>. 
	</p>
</div>
