<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Selected Oral History Programs
    </h2>
  </div>
  <p class="lead g-mb-40 g-mt-40">
    Following are major oral history programs throughout the United States. Their Web sites offer detailed program descriptions as well as guides to their collections.
  </p>
  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://www.baylor.edu/oral_history/">Baylor University Institute for Oral History</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    Founded in 1970, the institute has ongoing collection activities in the areas of arts and culture, Baylor's history, family life and community history, religion and culture, Texas Baptist history, Texas economic history, and the history of Waco-McLennan County.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://coph.fullerton.edu/">California State University, Fullerton Center for Oral and Public History</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    The center develops, archives, and makes available to the public oral documentation pertaining to the personal, regional, ethnic, political, and international histories that link Southern California to the globalized world.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://www.csulb.edu/colleges/cla/departments/history/oral-history-program/">California State University, Long Beach Oral History Program</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    This instructional program within the history department has collections containing oral histories relating to labor history, Long Beach history, and women's history.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://library.columbia.edu/locations/ccoh.html">Columbia University Libraries Oral History Research Office</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    Founded in 1948, this program has completed nearly eight thousand taped memoirs and nearly one million pages of transcript documenting a wide variety of historical figures.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://www.alexanderstreet6.com/products/oral-history-online">Oral History Online</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    This in-depth index contains the contents of some 2,700 collections of oral histories in English from around the world. Note: it is available by subscription only to non-UCLA users; the UCLA Library has purchased a license that allows UCLA students, faculty, and staff to access it through the campus network or the campus proxy server.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://siarchives.si.edu/research/oralvidhistory_intro.html">Smithsonian Institution Archives Oral and Videohistory Collections</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    These collections contain interviews with Smithsonian administrators, craftspeople, scholars, technical staff, visitors, and volunteers.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://bancroft.berkeley.edu/ROHO/">University of California, Berkeley Regional Oral History Office</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    Founded in 1953, this office preserves the history of California, the San Francisco Bay area, the University of California, and the Western United States through oral histories in various subject areas.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://library.ucsc.edu/regional-history-project">University of California, Santa Cruz Regional History Project</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    Founded in 1963, this project conducts interviews documenting the history of agriculture in Santa Cruz County, the city of Santa Cruz, UC Santa Cruz, and the Lick Observatory.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://www.oralhistory.hawaii.edu/">University of Hawaii at Manoa Center for Oral History</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    Established in 1976 by the Hawaii State Legislature, the center preserves the recollections of Hawaii's people through oral interviews and disseminates them to researchers, students, and the general community
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="https://contentdm.library.unr.edu/explore/UNOHPExplore/UNOHP-home.html">University of Nevada, Reno Oral History Program</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    This program documents the history and culture of Nevada and the West through subjects including the casino gaming industry, the experiences of various ethnic groups in the development of the West, the Great Basin Indians, mining, and ranching.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://sohp.org/">University of North Carolina - Chapel Hill Southern Oral History Program</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    Founded in 1973, the program seeks to foster a critical understanding of the South and its history, culture, problems, and prospects. It currently contains some 2,500 oral histories.
  </p>

  <h3 class="u-heading-v2__title g-mb-10">
    <a href="http://www.vermontfolklifecenter.org/about.htm">Vermont Folklife Center</a>
  </h3>
  <p class="lead g-mb-40 g-mt-40">
    The center is dedicated to preserving and presenting the folkarts and cultural traditions of Vermont and surrounding regions.
  </p>

</div>
