<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Oral History Training
    </h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    The Center for Oral History Research offers two-session quarterly workshops for UCLA students, faculty, and staff that provide an introduction to the basics of oral history methodology. Topics covered include:
  </p>

  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Interview outlines and questions</li>
    <li>Effective interviewing techniques</li>
    <li>Equipment needs</li>
    <li>Legal and ethical concerns</li>
  </ul>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    The first session covers general issues and skills involved in conducting an oral history, and the second session focuses on developing and refining participants' own projects and providing feedback on interview design and techniques. Members of the general public can attend the workshops on a space-available basis.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    For further information, contact the center by email <%= mail_to("oral-history@library.ucla.edu", "oral-history@library.ucla.edu") %> or by telephone at 310.825.4932.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Members of the general public interested in oral history training can also contact the <a href="http://www.southwestoralhistory.org/" target="_blank">Southwest Oral History Association</a> or the <a href="http://www.oralhistory.org/" target="_blank">Oral History Association;</a> both offer introductory and advanced workshops at their annual conferences.
  </p>

</div>

