<!-- Collection blocks -->
<section class="margin-bottom-50 g-mt-30" id="collections">
  <div class="row">
    <% @public_collections.each do |collection| %>
      <%= render partial: 'collection_detail', locals: { collection: collection } %>
    <% end %>
    <% if current_user && !current_user.guest? %>
      <% @private_collections.each do |private_collection| %>
        <%= render partial: 'collection_detail', locals: { collection: private_collection } %>
      <% end %>
    <% end %>
  </div>
</section>
<!-- End Collection blocks -->
