<div class="container text-center g-mb-20">
  <iframe
    class="universal-viewer-iframe"
    src="<%= request&.base_url %>/uv/uv.html#?manifest=<%= riiif_manifest_url(id: @document.id) %>"
    width="640"
    height="480"
    allowfullscreen
    frameborder="0">
  </iframe>
</div>