/* GENERAL STYLES */
body {
  font-family: Verdana, "Open Sans", Helvetica, Arial, sans-serif !important;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.dropdown-toggle::after {
  content: '';
}

a {
  color: #1D4B87;
}
a:hover, a:focus {
  color: #1c6897;
}


.hero-ribbon-gray.g-bg-black-opacity-0_6 {
  background-color: rgba(102,102,102,.8) !important;
}

.hero-ribbon-blue.g-bg-primary-dark-v3 {
  background-color: rgba(30, 75, 135, .8) !important;
}

.hero-info {
  margin-top: 50px;
}

.g-brd-primary {
  border-color: #3284bf !important;
}

.g-bg-primary {
  background-color: #3284bf !important;
}

.g-color-primary {
  color: #3284bf !important;
}

.g-color-primary--hover:hover {
  color: #3284bf !important;
}

.g-bg-black-opacity-0_6 {
  background-color: rgba(102,102,102,.8) !important;
}

h2>.hero-ribbon-blue, h3>.hero-ribbon-gray {
  line-height: 1.4;
}

/* SERIES TOOLTIP */

.series-tooltip {
  position: relative;
  display: inline-block;
  font-family: inherit;
}

.series-tooltip .series-tooltip-text {
  visibility: hidden;
  width: 240px;
  background-color: #1e4b87;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-family: inherit;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 122%;
  left: -400%;
  font-size: .9rem;
  box-shadow: -2px 3px 8px rgba(0,0,0,.4);
}

.series-tooltip:hover {
  color: #1e4b87;
}

/* Show the tooltip text when you mouse over the tooltip container */
.series-tooltip:hover .series-tooltip-text {
  visibility: visible;
}

@media only screen and (min-width: 480px) {
  .series-tooltip .series-tooltip-text {
    width: 360px;
    padding: 10px 15px;
    bottom: 135%;
    font-size: 1rem;
    box-shadow: -2px 3px 8px rgba(0,0,0,.4);
  }
}

@media only screen and (min-width: 768px) {
  .series-tooltip .series-tooltip-text {
    width: 340px;
  }
}

/**/

/* BUTTON STYLES */
.btn-primary  {
  background-color: #3284bf !important;
  border-color: #3284bf !important;
}
.btn-primary:hover, .btn-primary.active {
  border-color: #ffe800 !important;
  background-color: #ffe800 !important;
  color: #595959 !important;
}

#sort-dropdown .dropdown-toggle {
  color: #1e4b87;
}

#per_page-dropdown .dropdown-toggle {
  color: #1e4b87;
}

.u-btn-outline-primary {
  border-color: #3284bf !important;
  color: #3284bf !important;
  background-color: transparent !important;
}

.u-btn-outline-primary:hover, .u-btn-outline-primary.active {
  border-color: #1e4b87 !important;
  color: #1e4b87 !important;
  background-color: transparent !important;
}

.submit-search-text:hover {
  color: #595959;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.05rem - 2px);
  padding: 0.025rem 1.75rem 0.175rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.input-group select {
  border: none;
  background-color: transparent;
}

.pagination > li > a, .pagination > li > span {
  color: #1e4b87;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #3284bf;
  border-color: #3284bf;
}

/* NAVIGATION */

.navbar {
  margin-bottom: 0;
  border: 1px solid #1e4b87;

}

.navbar + .navbar {
  margin-top:0;
  margin-bottom: 10px;
  border: none;
}

.g-bg-blue {
  background-color: #1e4b87 !important;
}

#header-navbar .navbar-brand {
  background-image: image-url('logo.svg');
  background-position: left center;
  overflow: visible;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.facets-toggle .icon-bar {
  background-color: #888;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #595959;
  background-color: #ffe800;
}

.navbar-nav > li > a {
  color: #fff;
  padding: 15px 8px;
}

.navbar-nav > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #1e4b87;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffe800;
}

.subhead {
  color: #fff;
  padding: 5px;
  font-size: 16px;
  font-family: "Times New Roman";
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  #header-navbar .navbar-brand {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  #header-navbar .navbar-brand {
    background-position: left 5px center;
    width: 160px;
    overflow:hidden;
  }

  /* HOME PAGE COLLECTION IMAGES */
  #content {
    #collections {
      article.u-block-hover.u-shadow-v21 {
        max-width: 400px;
      }
    }
  }

  footer {
    .footer-row {
      .padding-top {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

/* HERO SECTION ON HOME PAGE */

section.g-pos-rel.hero-image-block {
  height: 130%;
  background-image: image-url('ucla_hero_1920x400.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

}

#main-container {
  width: 100% !important;
  margin: 0;
  padding: 0;
  min-height: 840px;
}

span.input-group-addon.for-search-field {
  background-color: white;
}

.input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
  z-index: 2;
}

.form-control:focus, .custom-select:focus {
    border-color: #3284bf;
}

/* FOOTER */
footer {
  margin-top: 50px;
}
.footer-row {
    background: #ececec;
    color: #333333;
    padding: 50px 1.25rem;
}

.footer-logo {
  height: 35px;
  margin-top:30px;
}

.border-right {
  padding-right: 1.5rem;
  padding-left: 0;
}

.border-left {
  border-left: 1px solid #a2a2a2;

}

a.footer-link {
  color: #1e4b87;
  font-weight: bold;
  line-height: 2.25;
  font-size: 12px;
}

.padding-top {
  padding-top: 80px;
  padding-bottom: 20px;
}

/* UTILITY STYLES */

.g-mt-50 {
  padding-top: 50px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

/* SEARCH RESULTS PAGE */

/* SIDEBAR FACETS */
// #sidebar {
//   padding-left: 50px;
// }



/* HIGHLIGHT COLORS */

::-moz-selection {
  color: #003B5C;
  background-color: #ffe800; }

::selection {
  color: #003B5C;
  background-color: #ffe800; }

  /* FACETS */

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
    color: #fff;
    background-color: #3284bf;
    border-color: #3284bf;
}

.panel-success, .facet_limit-active {
    border-color: #3284bf;
}

.text-success, .facet-values li .selected {
    color: #1e4b87;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body, .facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3284bf;
}

.facet_limit-active > .panel-heading.collapse-toggle .panel-title:after {
  color: #fff
}

.text-muted, .appliedFilter .filterName:after, .search_history .filterName, .search_history .filterSeparator {
    color: #ffe800 !important;
}

.facet-values .remove {
    color: #db3b21 !important;
}

/* SHOW PAGE */
#document.document h1{
  margin-top: 50px;
  padding-bottom: 20px;
}

#sidebar {
  .panel-body {
    padding: 0 15px;

    .bookmark_toggle {
      padding: 0 15px;
    }
    .nav > li > a {
      padding:5px 15px;
    }
  }
}

.dl-invert dt {
  font-weight: 700;
  color: #595959;
}

.d-block {
    display: block!important;
}

.u-accordion-brd-primary .u-accordion__header [aria-expanded="true"] {
  border-color: #3284bf !important;
}

.u-accordion-color-primary .u-accordion__header [aria-expanded="true"] {
  color: #3284bf !important;
}

.u-accordion__control-icon i:nth-child(1) {
  display: none; }

.collapsed .u-accordion__control-icon i:nth-child(1) {
  display: inline; }

.u-accordion__control-icon i:nth-child(2) {
  display: inline; }

.collapsed .u-accordion__control-icon i:nth-child(2) {
  display: none; }


@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 220px;
  }
  .dl-horizontal dt {
    float: left;
    width: 200px;
    clear: left;
    text-align: right;
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
  }
}


/* PLAYER */
.play-icon {
  cursor: pointer;
}

.player {
  .volume-container {
    display: flex;
    justify-content: space-between;
    .fa.fa-volume-up {
      color: #fff;
      font-size:30px;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
      margin: 0 8px;
    }
  }

  .pause-button, .play-button {
    margin-bottom: -23px;

    &:before {
      font-family: FontAwesome;
      font-size: 85px;
      color: #fff;
      cursor: pointer;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }

    &:hover:before {
      color: #FFFFFF;
    }
  }

  .play-button {
    &:before {
      content: "\f01d";
    }
  }

  .pause-button {
    &:before {
      content: "\f28c";
    }
  }

  .wave-box {
    height: 285px;
    padding: 0;
    background-image: image-url('ucla_media_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .play-icon {
    float: right;
    padding-right: 20px;
    margin-top: -1.2rem;
  }

  .progress-container {
    margin-top: -10px;
    font-size: 14px;
    font-weight: bold;
    color: #1e4b87;
    padding:0;
  }

  .autoscroll-button {
    padding: 0;
  }

  .time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 5px;
  }

  #timeline{
    width: 100%;
    height: 10px;
    background: #8BB8E8;
    margin: 0;
    display: flex;
    align-items: center;
  }

  #playhead{
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(139, 184, 232, 0.5);
    cursor: pointer;
  }

  .narrator-image-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #1e4b87;
    padding:0 16px 16px 16px;
    min-height: 285px;
  }
}

/* NEW VOLUME SLIDER CSS */
.player {
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
    background: rgba(255, 255, 255, 0.78);
    border-radius: 10px;
    border: 0px solid rgba(255, 255, 255, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.78);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
    background: rgba(255, 255, 255, 0.78);
    border-radius: 10px;
    border: 0px solid rgba(255, 255, 255, 0);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(235, 235, 235, 0.78);
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
    border: 0px solid rgba(255, 255, 255, 0);
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    height: 12px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.78);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
  }
  
}
  
// MEDIA QUERIES FOR PLAYER
@media (min-width: 768px) {
  div.player {
    max-width: 100%;
  }
  .player {
    .pause-button, .play-button {


      &:before {
        font-size: 60px;
      }
    }
  }
}

@media (max-width: 768px) {
  .player {
    .volume-slider {
      height: 19px;
      width: 50%;
      .fill {
        height: 19px;
        min-width: 19px;
      }
      .marker {
        height: 32px;
        min-width: 32px;
      }
      .time-container {
        margin-bottom: 24px;
      }
    }
  }
}

/* END PLAYER */

/* TRANSCRIPTS */

.download-accordion {
  padding-left: 0;
}

div.transcript-container {
  margin: 0 20px 10px 20px;
  padding: 20px;
  width: auto;
  height: 300px;
  overflow-y: scroll;
  resize: vertical;
}

.transcript-container-loading {
  margin: 50px 20px;
  padding: 20px;
  width: auto;
}

span.speaker {
  font-weight: 700;
  color: #777;
}

span.speaker::after {
  content: ': ';
  font-weight: 700;
  color: #777;
}

div.tei-head {
  font-size: 1.2em;
  font-weight: 700;
  display:inline;
  color: #777;
}
span.speaker ~ p {
  display: inline;
  color: #999;
}

.audio-timestamp-link {
  cursor: pointer;
}

.drag-helper {
  padding-right: 18px;
  margin-top: -10px;
  color: #3284bf;
}
 /* increase size of transcript window and
    hide drag helper text in ie and edge */
 /* IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .drag-helper {
    display: none;
  }

  div.transcript-container {
    height: 400px;
  }
}

@supports (-ms-accelerator:true) {
  /* IE Edge 12+ CSS */
  .drag-helper {
    display: none;
  }

  div.transcript-container {
    height: 400px;
  }

}

@supports (-ms-ime-align:auto) {
  /* IE Edge 16+ CSS */
  .drag-helper {
    display: none;
  }
}
  @media screen and (min-width: 767px) {
    div.transcript-container {
    height: 200px;
  }
}


/* STATIC PAGES */

.u-heading-v1-4::before {
  top:70%;
}

/* ADMIN PAGE */
.progress-bar {
  background-color: #3284bf;
}

.well {
  padding: 0;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* FULL TEXT SEARCH RESULTS PAGE */

.dl-full-text.dl-horizontal dt {
  text-align: left;
  width: auto;
  margin-right: 16px;
}

.dl-full-text.dl-horizontal dd {
  margin-left: 0;
}

body.blacklight-full_text.blacklight-full_text-index .page_entries {
  display: none;
}

body.blacklight-full_text.blacklight-full_text-index h3.index_title.document-title-heading {
  font-size: 14px;
}

.spinner {
  border: 4px solid #3284bf;
  border-top: 4px solid #ffe800;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Internet Explorer warning alert */

.ie-alert {
  margin-bottom: 0;
}

.show-for-ie {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .show-for-ie {
    display: block;
  }
}
