/* GENERAL STYLES */
body {
  font-family: Verdana, "Open Sans", Helvetica, Arial, sans-serif !important;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.dropdown-toggle::after {
  content: '';
}

a {
  color: #1D4B87;
}
a:hover, a:focus {
  color: #1c6897;
}


.hero-ribbon-gray.g-bg-black-opacity-0_6 {
  background-color: rgba(102,102,102,.8) !important;
}

.hero-ribbon-blue.g-bg-primary-dark-v3 {
  background-color: rgba(30, 75, 135, .8) !important;
}

.hero-info {
  margin-top: 50px;
}

.g-brd-primary {
  border-color: #3284bf !important;
}

.g-bg-primary {
  background-color: #3284bf !important;
}

.g-color-primary {
  color: #3284bf !important;
}

.g-color-primary--hover:hover {
  color: #3284bf !important;
}

.g-bg-black-opacity-0_6 {
  background-color: rgba(102,102,102,.8) !important;
}

h2>.hero-ribbon-blue, h3>.hero-ribbon-gray {
  line-height: 1.4;
}

/* BUTTON STYLES */
.btn-primary  {
  background-color: #3284bf !important;
  border-color: #3284bf !important;
}
.btn-primary:hover, .btn-primary.active {
  border-color: #ffe800 !important;
  background-color: #ffe800 !important;
  color: #595959 !important;
}

#sort-dropdown .dropdown-toggle {
  color: #1e4b87;
}

#per_page-dropdown .dropdown-toggle {
  color: #1e4b87;
}

.u-btn-outline-primary {
  border-color: #3284bf !important;
  color: #3284bf !important;
  background-color: transparent !important;
}

.u-btn-outline-primary:hover, .u-btn-outline-primary.active {
  border-color: #1e4b87 !important;
  color: #1e4b87 !important;
  background-color: transparent !important;
}

.submit-search-text:hover {
  color: #595959;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.05rem - 2px);
  padding: 0.025rem 1.75rem 0.175rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.input-group select {
  border: none;
  background-color: transparent;
}

.pagination > li > a, .pagination > li > span {
  color: #1e4b87;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #3284bf;
  border-color: #3284bf;
}

/* NAVIGATION */

.navbar {
  margin-bottom: 0;
  border: 1px solid #1e4b87;

}

.navbar + .navbar {
  margin-top:0;
  margin-bottom: 10px;
  border: none;
}

.g-bg-blue {
  background-color: #1e4b87 !important;
}

#header-navbar .navbar-brand {
  background-image: image-url('logo.png');
  background-size: cover;
  width: 325px;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.facets-toggle .icon-bar {
  background-color: #888;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #595959;
  background-color: #ffe800;
}

.navbar-nav > li > a {
  color: #fff;
  padding: 15px 8px;
}

.navbar-nav > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #1e4b87;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffe800;
}

.subhead {
  color: #fff;
  padding: 5px;
  font-size: 16px;
  font-family: "Times New Roman";
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  #header-navbar .navbar-brand {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  #header-navbar .navbar-brand {
    background-position: left 5px center;
    width: 160px;
    overflow:hidden;
  }

  /* HOME PAGE COLLECTION IMAGES */
  #content {
    #collections {
      article.u-block-hover.u-shadow-v21 {
        max-width: 400px;
      }
    }
  }

  footer {
    .footer-row {
      .padding-top {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

/* HERO SECTION ON HOME PAGE */

section.g-pos-rel.hero-image-block {
  height: 130%;
  background-image: image-url('ucla_hero_1920x400.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

}

#main-container {
  width: 100% !important;
  margin: 0;
  padding: 0;
  min-height: 840px;
}

span.input-group-addon.for-search-field {
  background-color: white;
}

.input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
  z-index: 2;
}

.form-control:focus, .custom-select:focus {
    border-color: #3284bf;
}

/* FOOTER */
footer {
  margin-top: 50px;
}
.footer-row {
    background: #ececec;
    color: #333333;
    padding: 50px 1.25rem;
}

.footer-logo {
  height: 35px;
  margin-top:30px;
}

.border-right {
  padding-right: 1.5rem;
  padding-left: 0;
}

.border-left {
  border-left: 1px solid #a2a2a2;

}

a.footer-link {
  color: #1e4b87;
  font-weight: bold;
  line-height: 2.25;
  font-size: 12px;
}

.padding-top {
  padding-top: 80px;
  padding-bottom: 20px;
}

/* UTILITY STYLES */

.g-mt-50 {
  padding-top: 50px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

/* HIGHLIGHT COLORS */

::-moz-selection {
  color: #003B5C;
  background-color: #ffe800; }

::selection {
  color: #003B5C;
  background-color: #ffe800; }

  /* FACETS */

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
    color: #fff;
    background-color: #3284bf;
    border-color: #3284bf;
}

.panel-success, .facet_limit-active {
    border-color: #3284bf;
}

.text-success, .facet-values li .selected {
    color: #1e4b87;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body, .facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3284bf;
}

.facet_limit-active > .panel-heading.collapse-toggle .panel-title:after {
  color: #fff
}

.text-muted, .appliedFilter .filterName:after, .search_history .filterName, .search_history .filterSeparator {
    color: #ffe800 !important;
}

.facet-values .remove {
    color: #db3b21 !important;
}

/* SHOW PAGE */
#document.document h1{
  margin-top: 50px;
  padding-bottom: 20px;
}

#sidebar {
  .panel-body {
    padding: 0 15px;

    .bookmark_toggle {
      padding: 0 15px;
    }
    .nav > li > a {
      padding:5px 15px;
    }
  }
}

.dl-invert dt {
  font-weight: 700;
  color: #595959;
}

.d-block {
    display: block!important;
}

.u-accordion-brd-primary .u-accordion__header [aria-expanded="true"] {
  border-color: #3284bf !important;
}

.u-accordion-color-primary .u-accordion__header [aria-expanded="true"] {
  color: #3284bf !important;
}

.u-accordion__control-icon i:nth-child(1) {
  display: none; }

.collapsed .u-accordion__control-icon i:nth-child(1) {
  display: inline; }

.u-accordion__control-icon i:nth-child(2) {
  display: inline; }

.collapsed .u-accordion__control-icon i:nth-child(2) {
  display: none; }


@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 220px;
  }
  .dl-horizontal dt {
    float: left;
    width: 200px;
    clear: left;
    text-align: right;
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
  }
}

/* ADMIN PAGE */
.progress-bar {
  background-color: #3284bf;
}

.well {
  padding: 0;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
