/* GENERAL STYLES */

body {
  font-family: "textbook-new", Helvetica, Arial, sans-serif !important;
  padding-top:38px;
}

.dropdown-toggle::after {
  content: '';
}

a {
  color: #1D4B87;
}
a:hover, a:focus {
  color: #1c6897;
}

.hero-info {
  margin-top: 50px;
}

.g-brd-primary {
  border-color: #3284bf !important;
}

.g-bg-primary {
  background-color: #3284bf !important;
}

.g-color-primary {
  color: #3284bf !important;
}

.g-color-primary--hover:hover {
  color: #3284bf !important;
}

.g-bg-black-opacity-0_6 {
  background-color: rgba(102,102,102,.8) !important;
}

h2.h1 {
  font-family: "orpheuspro",serif;
  font-size: 50px;
  line-height: 1.12;
}
h3.h4 {
  font-size: 20px;
  line-height: 1.3;
}

/* BUTTON STYLES */
.btn-primary  {
  background-color: #374c91 !important;
  border-color: #374c91 !important;
}
.btn-primary:hover, .btn-primary.active {
  border-color: #fccf2d !important;
  background-color: #fccf2d !important;
  color: #595959 !important;
}

#sort-dropdown .dropdown-toggle {
  color: #243261;
}

#per_page-dropdown .dropdown-toggle {
  color: #243261;
}

.u-btn-outline-primary {
  border-color: #374c91 !important;
  color: #374c91 !important;
  background-color: transparent !important;
}

.u-btn-outline-primary:hover, .u-btn-outline-primary.active {
  border-color: #243261 !important;
  color: #243261 !important;
  background-color: transparent !important;
}

.submit-search-text:hover {
  color: #595959;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.05rem - 2px);
  padding: 0.025rem 1.75rem 0.175rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.input-group select {
  border: none;
  background-color: transparent;
}

.pagination > li > a, .pagination > li > span {
  color: #243261;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #374c91;
  border-color: #374c91;
}

/* NAVIGATION */

.top-nav {
  margin: 0;
  width: auto;
  min-width: 100%;
  display: block;
  box-sizing: border-box;
  height: 40px;
  background: #374c91;
  text-align: center;
  z-index: 101;
  position: absolute;
  top: 0;
  a:hover {
    text-decoration: none;
  }
  ul.small {
    font-size: 16px;
    line-height: 1.5;
    list-style-type: none;
  }
  ul li.top:hover {
    background: #243261;
  }
  ul {
    li.top {
      display: inline-block;
      padding: 0 20px;
      line-height: 40px;
      position: relative;
      a {
        color: white;
      }
      ul {
        position: absolute;
        top: 40px;
        left: 0;
        background: rgba(36,50,97,0.85);
        padding: 10px 20px;
        display: none;
        li {
          display: block;
          text-align: left;
          white-space: nowrap;
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .collapse.navbar-collapse {
    position: absolute;
    top: 0;
    right: 16px;
    line-height: 1.5;
  }
}

.hero-nav {
  padding-top: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1224px;
  position: relative;
  margin: 0px auto;
  box-sizing: border-box;
  width: 92%;
  a:hover {
    text-decoration: none;
  }
  ul.main-nav {
    font-size: 16px;
    line-height: 1.5;
    list-style-type: none;
    li.top {
      display: inline-block;
      position: relative;
      padding: 0 20px;
      ul {
        position: absolute;
        top: 60px;
        left: 0px;
        background: rgba(36,50,97,0.85);
        padding: 10px 20px;
        box-sizing: border-box;
        min-width: 100%;
        white-space: nowrap;
        list-style-type: none;
        display: none;
        li {
          padding: 5px 0;
          a {
            color: white;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
    li.top:hover {
      background: rgba(36,50,97,0.85);
    }
    li.top>a {
      font-family: "orpheuspro",serif;
      font-size: 22px;
      line-height: 60px;
      padding-bottom: 5px;
      color: #fff;
      position: relative;
    }
    li.top>a:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      content: '';
      height: 1px;
      background: #fff;
    }
  }
  .join {
    font-family: "textbook-new",sans-serif;
    font-size: 20px;
    font-weight: 700;
    min-height: 50px;
    padding: 10px 30px;
    text-align: center;
    color: #000;
    background: #fccf2d;
    -webkit-transition: all 0.125s ease-in-out;
    -moz-transition: all 0.125s ease-in-out;
    -ms-transition: all 0.125s ease-in-out;
    -o-transition: all 0.125s ease-in-out;
    transition: all 0.125s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  }
  .join:hover {
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    text-decoration: none;
  }
}

.navbar {
  margin-bottom: 0;
  border: 1px solid #243261;

}

.navbar + .navbar {
  margin-top:0;
  margin-bottom: 10px;
  border: none;
}

.g-bg-blue {
  background-color: #243261 !important;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.facets-toggle .icon-bar {
  background-color: #888;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #595959;
  background-color: #fccf2d;
}

.navbar-nav > li > a {
  color: #fff;
  padding: 15px 8px;
}

.navbar-nav > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #243261;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fccf2d;
}

.subhead {
  color: #fff;
  padding: 5px;
  font-size: 16px;
  font-family: "Times New Roman";
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  #header-navbar .navbar-brand {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  #header-navbar .navbar-brand {
    background-position: left 5px center;
    width: 160px;
    overflow:hidden;
  }

  /* HOME PAGE COLLECTION IMAGES */
  #content {
    #collections {
      article.u-block-hover.u-shadow-v21 {
        max-width: 400px;
      }
    }
  }
}

/* HERO SECTION ON HOME PAGE */

section.g-pos-rel.hero-image-block {
  height: 130%;
  background-image: image-url('arce-hero.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

}

section.g-pos-rel.hero-image-block:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=0);
}

article.contain.info {
  max-width: 1224px;
  position: relative;
  margin: 0px auto;
  display: block;
  box-sizing: border-box;
  width: 92%;
}

#main-container {
  width: 100% !important;
  margin: 0;
  padding: 0;
  min-height: 840px;
}

span.input-group-addon.for-search-field {
  background-color: white;
}

.input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
  z-index: 2;
}

.form-control:focus, .custom-select:focus {
    border-color: #3284bf;
}

/* FOOTER */
footer {
  margin-top: 50px;
  padding: 40px 0;
  .container.contain {
    max-width: 1224px;
    position: relative;
    margin: 0px auto;
    display: block;
    box-sizing: border-box;
    width: 92%;
  }
  ul {
    list-style-type: none;
    li a {
      color: white;
    }
  }
  .social {
    float: right;
  }
  ul.social {
    margin-top: 45px;
    li {
      display: inline-block;
      margin-left: 45px;
      font-size: 24px;
    }
  }
  .flex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex .lt {
    -webkit-column-count: 2;
    column-count: 2;
  }
  .flex .lt {
    font-size: 16px;
    line-height: 1.5;
  }
  .flex .col {
    width: 100%;
    border-top: 1px solid #fff;
    padding-top: 40px; 
  }
  .col.rt {
    p {
    font-size: 20px;
    line-height: 1.3;
    }
  }
  .address {
    float: left;
    width: 50%;
    margin-top: 20px;
    span {
      display: block;
      font-weight: 700;
    }
    a {
      font-size: 16px;
      color: white;
      line-height: 1.5;
    }
  }
  .links li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 40px;
  }
}

footer a:not(.loc):after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 0;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  -ms-transition: all 0.125s ease-in-out;
  -o-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}


.footer-logo {
  width: 140px;
  margin-top:30px;
}

.border-right {
  padding-right: 1.5rem;
  padding-left: 0;
}

.border-left {
  border-left: 1px solid #a2a2a2;

}

a.footer-link {
  color: #243261;
  font-weight: bold;
  line-height: 2.25;
  font-size: 12px;
}

.padding-top {
  padding-top: 80px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  footer {
    .flex {
      display: block;
    }
    .flex .col {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  footer {
    .container.contain {
      padding: 0 20px;
      width: 100%;
    }
    .social {
      margin: 0;
      float: none;
    }
    ul.social {
      margin: 0;
      padding: 0;
    }
    .social li {
      margin: 0 45px 0 0;
    }
    .flex .lt {
      -webkit-column-count: 1;
      column-count: 1;
      border-bottom: 1px solid #fff;
      padding-bottom: 23px;
    }
    .links {
      margin-top: 30px;
    }
    .links li {
      margin-top: 0;
      margin-right: 30px;
    }
  }
}

/* UTILITY STYLES */

.g-mt-50 {
  padding-top: 50px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

/* HIGHLIGHT COLORS */

::-moz-selection {
  color: #003B5C;
  background-color: #fccf2d; }

::selection {
  color: #003B5C;
  background-color: #fccf2d; }

  /* FACETS */

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
    color: #fff;
    background-color: #3284bf;
    border-color: #3284bf;
}

.panel-success, .facet_limit-active {
    border-color: #3284bf;
}

.text-success, .facet-values li .selected {
    color: #243261;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body, .facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3284bf;
}

.facet_limit-active > .panel-heading.collapse-toggle .panel-title:after {
  color: #fff
}

.text-muted, .appliedFilter .filterName:after, .search_history .filterName, .search_history .filterSeparator {
    color: #fccf2d !important;
}

.facet-values .remove {
    color: #db3b21 !important;
}

/* SHOW PAGE */
#document.document h1{
  margin-top: 50px;
  padding-bottom: 20px;
}

#sidebar {
  .panel-body {
    padding: 0 15px;

    .bookmark_toggle {
      padding: 0 15px;
    }
    .nav > li > a {
      padding:5px 15px;
    }
  }
}

.dl-invert dt {
  font-weight: 700;
  color: #595959;
}

.d-block {
    display: block!important;
}

.u-accordion-brd-primary .u-accordion__header [aria-expanded="true"] {
  border-color: #3284bf !important;
}

.u-accordion-color-primary .u-accordion__header [aria-expanded="true"] {
  color: #3284bf !important;
}

.u-accordion__control-icon i:nth-child(1) {
  display: none; }

.collapsed .u-accordion__control-icon i:nth-child(1) {
  display: inline; }

.u-accordion__control-icon i:nth-child(2) {
  display: inline; }

.collapsed .u-accordion__control-icon i:nth-child(2) {
  display: none; }


@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 220px;
  }
  .dl-horizontal dt {
    float: left;
    width: 200px;
    clear: left;
    text-align: right;
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
  }
}

/* ADMIN PAGE */
.progress-bar {
  background-color: #3284bf;
}

.well {
  padding: 0;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
