<div class="banner-wrapper">
  <div class="animation">
    Upcoming collections: Documentation and Conservation of Wall Paintings at the Red Monastery in Sohag, Conservation and Documentation of St. Anthony Wall Paintings, Conservation of Mosaics in Greco-Roman museum in Alexandria.
  </div>
</div>
