<div class="banner-wrapper">
<div class="animation">Upcoming collections: Conservation and Documentation of Tomb of Menna (TT69), Akhenaten Talatat Conservation Project, Conservation of the Sarcophagus of Ramesses VI</div>
</div>