<div class="banner-wrapper">
  <div class="animation">Upcoming collections: Conservation of the Sarcophagus of Ramesses VI (KV19), Conservation of Mosaics in the Greco-Roman Museum in Alexandria, Conservation and Display of Roman Mosaics at Kom el Dikka.</div>
</div>