<section class="hero-nav contain flex">
  <%= render partial: '/logo' %>
  <ul class="small small main-nav">
    <li class="menu-item top menu-item--active-trail">
      <%= link_to "About Us and Our Collections", about_path %>
    </li>
    <li class="menu-item top">
      <%= link_to "Conservation Archives Policies", policy_path %>
    </li>
    <li class="menu-item top">
      <%= link_to "Website Tutorials", explore_videos_path %>
    </li>
  </ul>
</section>

