<section class="hero-nav contain flex">
  <%= render partial: '/logo' %>
  <ul class="small small main-nav">
    <li class="menu-item top menu-item-cultural-heritage menu-item--active-trail">
      <%= link_to "About Us and Our Collections", about_path %>
    </li>
    <li class="menu-item top menu-item-research">
      <%= link_to "Archives Policy", policy_path %>
    </li>
  </ul>
</section>
