<div class="collapse navbar-collapse" id="mobile-collapse">
  <section class="hero-mobile-nav">
    <ul class="nav navbar-nav">
      <li class="dropdown menu-item">
        <%= link_to "About Us", about_path, class: "dropdown-toggle" %>
      </li>
      <li class="dropdown menu-item">
        <%= link_to "Conservation Archives Policies", policy_path, class: "dropdown-toggle" %>
      </li>
      <li class="dropdown menu-item">
        <%= link_to "Website Tutorials", explore_videos_path, class: "dropdown-toggle"  %>
      </li>
    </ul>
  </section>
  <section class="top-mobile-nav">
    <%= render :partial=>'/user_util_links' %>
  </section>
</div>
