<div class="collapse navbar-collapse" id="mobile-collapse">
  <section class="hero-mobile-nav">
    <ul class="nav navbar-nav">
      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cultural Heritage Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="https://www.arce.org/fieldwork-egypt">Cultural Heritage Projects</a>
          </li>
          <li>
            <a href="https://www.arce.org/fieldwork-egypt">Projects in Egypt</a>
          </li>
          <li>
            <a href="https://www.arce.org/virtual-tours" title="Explore past projects">Virtual Tours</a>
          </li>
        </ul>
      </li>
      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research &amp; Programs <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="https://www.arce.org/programs-fieldwork">Research &amp; Programs</a>
          </li>
          <li>
            <a href="https://www.arce.org/grants" title="Antiquities Endowment Fund Grants">Grants</a>
          </li>
          <li>
            <a href="https://www.arce.org/fellows">ARCE Fellows</a>
          </li>
          <li>
            <a href="https://www.arce.org/fellowships" title="ARCE Research Fellowships">Fellowships</a>
          </li>
          <li>
            <a href="https://www.arce.org/journal" title="JARCE">Academic Journal</a>
          </li>
          <li>
            <a href="https://www.arce.org/archive" title="Archival Collection">Project Archive</a>
          </li>
          <li>
            <a href="https://www.arce.org/library" title="Library">Library and Online Catalogue</a>
          </li>
        </ul>
      </li>
      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support Our Work <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="https://www.arce.org/support-our-work" title="Support Our Work">Development &amp; Membership</a>
          </li>
          <li>
            <a href="https://www.arce.org/donate">Donate</a>
          </li>
          <li>
            <a href="https://www.arce.org/membership">Join or Renew</a>
          </li>
          <li>
            <a href="https://www.arce.org/research-supporting-members">Institutional Membership</a>
          </li>
          <li>
            <a href="http://giftplanning.arce.org/">More Ways to Give</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="top-mobile-nav">           
    <ul class="nav navbar-nav">
      <li class="dropdown menu-item top">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About The Archives<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "About Us and Our Collections", about_path %>
          </li>
          <li>
            <%= link_to "Archives Policy", policy_path %>
          </li>
          <li>
            <a href="https://www.arce.org/mission" title="ARCE Mission">Mission</a>
          </li>
          <li>
            <a href="https://www.arce.org/history-arce" title="History of ARCE">History</a>
          </li>
          <li>
            <a href="https://www.arce.org/board-governors" title="Board of Governors">Board of Governors</a>
          </li>
          <li>
            <a href="https://www.arce.org/presidents-advisory-council-0">President&#039;s Advisory Council</a>
          </li>
          <li>
            <a href="https://www.arce.org/arce-staff" title="Staff List">Staff</a>
          </li>
          <li>
            <a href="https://www.arce.org/chapters" title="Local chapters of ARCE">Local Chapters</a>
          </li>
          <li>
            <a href="https://www.arce.org/financial-information" title="ARCE official documents">Financials</a>
          </li>
          <li>
            <a href="https://www.arce.org/news">ARCE in the News</a>
          </li>
          <li>
            <a href="https://www.arce.org/employment-opportunities">Employment Opportunities</a>
          </li>
        </ul>
      </li>
      <li class="menu-item top">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Discover<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="https://www.arce.org/discover-egypt">Discover Egypt</a>
          </li>
          <li>
            <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A48">Religion, Gods &amp; Goddesses</a>
          </li>
          <li>
            <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A47">Language &amp; Hieroglyphs</a>
          </li>
          <li>
            <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A46">Pharaohs &amp; Rulers</a>
          </li>
          <li>
            <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A45">Mummies &amp; Coffins</a>
          </li>
          <li>
            <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A43">Pyramids, Tombs &amp; Temples</a>
          </li>
          <li>
            <a href="https://www.arce.org/resource-library">Resource Library</a>
          </li>
        </ul>
      </li>
      <li class="menu-item top">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="https://www.arce.org/events" title="Events">Events</a>
          </li>
          <li>
            <a href="https://www.arce.org/annual-meeting" title="Virtual 2020 Annual Meeting">Virtual 2020 Annual Meeting</a>
          </li>
          <li>
            <a href="https://www.arce.org/arce-member-tour-egypt">ARCE Member Tour to Egypt</a>
          </li>
          <li>
            <a href="https://www.arce.org/calendar" title="Chapter and National Events">Events Calendar</a>
          </li>
          <li>
            <a href="https://www.arce.org/PCC2020">PCC Symposium 2020</a>
          </li>
          <li>
            <a href="https://www.arce.org/september-8-media-event" title="Celebrating Khonsu Temple and Dra Abu El Naga">September 8 Media Event</a>
          </li>
        </ul>
      </li>
    </ul>
    <%= render :partial=>'/user_util_links' %>
  </section>
</div>
