<div class="collapse navbar-collapse" id="mobile-collapse">
  <section class="hero-mobile-nav">
    <ul class="nav navbar-nav">
      <li class="dropdown menu-item">
        <%= link_to "About Us and Our Collections", about_path, class: "dropdown-toggle" %>
      </li>
      <li class="dropdown menu-item">
        <%= link_to "Archives Policy", policy_path, class: "dropdown-toggle" %>
      </li>
      <li class="dropdown menu-item">
        <%= link_to "YouTube Tutorials", explore_videos_path, class: "dropdown-toggle"  %>
      </li>
    </ul>
  </section>
  <section class="top-mobile-nav">
    <%= render :partial=>'/user_util_links' %>
  </section>
</div>