<section class="top-nav">           
  <ul class="small">
    <li class="menu-item top menu-item-about">
      <%= link_to  "About Us", about_path %>
      <ul class="drop-about">
        <li class="menu-item">
          <%= link_to "About Us and Our Collections", about_path %>
        </li>
        <li class="menu-item">
          <%= link_to "Archives Policy", policy_path %>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/mission" title="ARCE Mission">Mission</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/history-arce" title="History of ARCE">History</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/board-governors" title="Board of Governors">Board of Governors</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/presidents-advisory-council-0">President&#039;s Advisory Council</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/arce-staff" title="Staff List">Staff</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/chapters" title="Local chapters of ARCE">Local Chapters</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/financial-information" title="ARCE official documents">Financials</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/news">ARCE in the News</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/employment-opportunities">Employment Opportunities</a>
        </li>
      </ul>
    </li>
    <li class="menu-item top menu-item-discover">
      <a href="/discover-egypt">Discover Egypt</a>
      <ul class="drop-discover">
        <li class="menu-item">
          <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A48">Religion, Gods &amp; Goddesses</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A47">Language &amp; Hieroglyphs</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A46">Pharaohs &amp; Rulers</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A45">Mummies &amp; Coffins</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/resource-library?f%5B0%5D=searchresults_theme%3A43">Pyramids, Tombs &amp; Temples</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/resource-library">Resource Library</a>
        </li>
      </ul>
    </li>
    <li class="menu-item top menu-item-events">
      <a href="/events">Events</a>
      <ul class="drop-events">
        <li class="menu-item menu-item--collapsed">
          <a href="https://www.arce.org/annual-meeting" title="Virtual 2020 Annual Meeting">Virtual 2020 Annual Meeting</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/arce-member-tour-egypt">ARCE Member Tour to Egypt</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/calendar" title="Chapter and National Events">Events Calendar</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/PCC2020">PCC Symposium 2020</a>
        </li>
        <li class="menu-item">
          <a href="https://www.arce.org/september-8-media-event" title="Celebrating Khonsu Temple and Dra Abu El Naga">September 8 Media Event</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="collapse navbar-collapse" id="user-util-collapse"> 
    <%= render :partial=>'/user_util_links' %>
  </div>
</section>
